[2018-04-04 19:47] fjcalderons opened #3 "open channel fees too high"
First of all, congratulations to all the team!!! today is another great day with this release :smile:

I have 218047 sats (14,82 USD) on my eclair btc address, when I try to open a channel it only let me to open the channel with 118000 sats (8 USD), in other case I get a "not enough funds" message, why is that? this means that the chain opening channel fee it's going to be of 6+ USD?

![screenshot

[2018-04-04 20:41] halfik opened #4 "not enough funds"
I just downloaded from google play store main net realse.
First i sent 73 800 sat but i figure out that 100 000sat is min to open a channel.
So i sent another 72 000 sat.
Now i have both with 6+ conf but cant open a channel.
Wallet is saying "not enough funds" no matter if i try to open 140k or 100k sat channel.

Any idea why?

[2018-04-04 20:45] cosmicapotheosis opened #5 "Failed to open channel:connection failed to /xx.xx.xxx.xxx"

[2018-04-04 20:52] cosmicapotheosis commented on #5
I'm having all kinds of issues trying to connect to different nodes. I deleted my original message since it looked like it was a problem on the side of my own lnd node but now I'm getting other errors trying to connect to prominent public nodes like the yalls one. Hang tight Ill post more details in a sec.

[2018-04-04 20:54] halfik commented on #4
Already reported.

[2018-04-04 20:54] #4 closed, assigned to nobody

[2018-04-04 21:05] #5 closed, assigned to nobody

[2018-04-05 01:36] dmitryplatonov opened #6 "Not enough funds to open channel (but there are)"
Can't open channel. Amount I am opening for is less than my balance. My wallet balance is 0.0014xx BTC.

[2018-04-05 01:45] michaelandersonb commented on #6
Same issue here. .0014 btc in wallet. Claims I don't have enough funds for even a .001 channel with slow fee.

[2018-04-05 02:30] otaviobonder commented on #6
Same with me. I have 0.0015 and can't open a channel with my node. Tried between 0.001 and 0.0015 and always get a not enough funds message

[2018-04-05 02:31] matthewjamesr commented on #3
@fjcalderons I am just a bystander, but what should an average channel opening fee be? What have you seen? I am currious.

[2018-04-05 02:54] fjcalderons commented on #3
@matthewjamesr one hour ago I just opened a channel on my mainnet node (not the eclair wallet), the capacity of that channel is 330000 satoshis (~22 USD) and the commit fee was 724 satoshis (~0.05 USD), so I think opening channels on eclair wallet should be something like that.

[2018-04-05 06:21] michaelandersonb commented on #6
It seems to opens channel of .0012 btc I had to have .002 btc in the wallet. This is requirement is not clear or mentioned at all from what I can see.

The error message is very useless and doesn't explain the required amount. Why is it required to leave 40% of my funds outside the channel anyway?

[2018-04-05 07:51] DanielWeigl opened #7 "BIP39 vs BIP49"
I guess you mean BIP39 here:

https://github.com/ACINQ/eclair-wallet/blob/a0a2758d7b0fedb1099b903f8ea129e1b6dbf774/app/src/main/res/values/strings.xml#L77

BIP49 is also somewhat correct in this context, but i guess the intended meaning was BIP39, or?

[2018-04-05 08:16] sstone commented on #7
Yes, "a BIP39 seed with a BIP49 derivation path" is probably more correct here

[2018-04-05 08:18] KibbledJiveElkZoo commented on #6
I have a problem with the program saying there are not enough funds while there appear to be enough funds, too.

I get the message: "None of your Lightning channels has enough balance to send this payment.", when trying to pay a 1,090 microbitcoins (1.09 millibitcoins) BitRefill.com order.  I have a channel with BitRefill's node that has 1,122 microbitcoins (1.122 millibitcoins) in "NORMAL" status

[2018-04-05 08:22] KibbledJiveElkZoo opened #8 "Not Enough Balance to Send Bitcoin Mainnet Lightning Payment . . . But There Is"
I have a problem with the program saying there are not enough funds while there appear to be enough funds, too.

I get the message: "None of your Lightning channels has enough balance to send this payment.", when trying to pay a 1,090 microbitcoins (1.09 millibitcoins) BitRefill.com order. I have a channel with BitRefill's node that has 1,122 microbitcoins (1.122 millibitcoins) in "NORMAL" status.

[2018-04-05 08:59] sstone commented on #8
Yes, you cannot send all (or almost all) of your balance, you have to keep some of it:
- you need to maintain a reserve (which you can see in the "Channel Details" view when you select a channel)
- and you must also keep enough funds to pay for the on-chain bitcoin fees (the state of your channel has to be publishable, this is what enables you to close your channels whenever you want even if the p

[2018-04-05 09:04] prusnak commented on #7
I confirm that "a BIP39 seed with a BIP49 derivation path" is probably the best formulation.

[2018-04-05 09:04] prusnak opened #9 "[Feature] Unlock via Fingerprint reader"
Allow unlocking the wallet via fingerprint reader instead of PIN entry.

[2018-04-05 09:06] prusnak opened #10 "[Feature] show balance in Fiat"
There is an option to select Fiat currency in settings, but there is no fiat balance shown anywhere in the TX history.

I would expect to see the fiat equivalent of total balance at least.

[2018-04-05 09:07] KibbledJiveElkZoo commented on #8
Thank you for the insight.  That helped me understand better.

[2018-04-05 09:43] dpad85 commented on #6
Thanks for reporting this issue. This is an old control that check that there is enough onchain funds to pay the fees for the channel funding transaction. At the time, there was no way to customize the funding tx fee, and the network fees were quite high so an arbitrary 1 mBTC leftover was required. This is why you need 2 mBTC in your wallet if you try to open a 1 mBTC channel.

This requirement d

[2018-04-05 10:10] dpad85 commented on #3
Hi, thanks for reporting the issue!

This issue is the same as #6 : a 1 mBTC leftover was required to handle the tx fee, that's why you are limited to a 118000 sat channel. This control is obsolete and will be removed by PR #11

@matthewjamesr Channel funding tx fees can be customised by the user

[2018-04-05 10:57] dpad85 commented on #10
If you click on the wallet balance (top blue section), most amounts field in the app will switch from btc to fiat.

[2018-04-05 11:05] prusnak commented on #10
Great, thank you. Closing

[2018-04-05 11:05] #10 closed, assigned to nobody

[2018-04-05 12:39] CaveRock opened #12 "Incorrect balance displayed"
I seem to have been able to get two records for closing a single channel. I initially attempted to close the channel, when checking the resulting transaction id does not exist as far as the blockchain explorers are concerned. I chose to re-broadcast, the second closing has worked. However, both closing amount's have been included in my total btc balance, so it is now higher than the total btc I ha

[2018-04-05 13:16] fjcalderons commented on #3
@dpad85 perfect, we'll wait for the new release :smile:

closing

[2018-04-05 13:16] #3 closed, assigned to nobody

[2018-04-05 16:58] dmitryplatonov opened #13 "Show exact confirmation count for channel funding transactions"
Many nodes require 14 confirmation for locking the channel, so "6+" confirmation number is not helpful in predicting when channel will be locked.
Or maybe show this information in channel details.

[2018-04-05 17:40] corbimos opened #14 "Remote Failure"
https://imgur.com/a/CQMb4

Opened a channel with ACINQ and can't pay for anything on block stream store. Is this just a routing issue where ACINQ does not have an open channel to the LN store?

[2018-04-05 18:00] dmitryplatonov commented on #14
I am have the same issue with different store and my channel is opened to ACINQ.

[2018-04-05 18:36] victorperin commented on #14
Same here. Seems to be a problem with the acinq node.

Trying to open channel to another node, but right now I'm locked at `WAIT_FOR_FUNDING_LOCKED`.

[2018-04-05 18:46] pm47 commented on #14
This is simply a liquidity issue: everyone is trying to pay the same merchants, leading to channels being unbalanced quite fast. We are adding more capacity but can't open more than c-lightning.

Depending on the destination node, they may require more confirmations that eclair, in that case you just need to wait.

[2018-04-05 21:13] corbimos opened #15 "WAIT_FOR_FUNDING_LOCKED after 16+ confirmations"
I thought only 3 confs were needed to start using the LN channel. After a couple hours and 16+ confirmations I still see this waiting for funding notification.

My other channel with ACINQ opened just fine after 3 confs. This is a channel with the Blockstream Store.

Tx ID: 3661c86357a84301a76b0c7a552b7a581d150887b4b0ddf443eed419cef51bce

https://imgur.com/a/hj5tx

[2018-04-05 21:14] #14 closed, assigned to nobody

[2018-04-05 22:24] ttajaf68 opened #16 "Channel closed and funds not refunded."
channel closed uncooperatively.  App became inaccessible when attempting to check refund next day. App was uninstalled, reinstalled and recovered and funds still missing.

[2018-04-05 23:15] ghost opened #17 "Channel forcibly closed and funds not returned"
Funding tx was 731c6e69338f4cc58b595227cf5f2b8bf631e645a197445bcc7bf4f57f5098fb, I forcibly closed the channel id  fb98507ff5f47bcc5b4497a145e631f68b2b5fcf2752598bc54c8f33696e1c73 and the state in the wallet is still CLOSING.

More than 144 blocks have passed since the funding transaction, shouldn't the funds have been returned?

[2018-04-06 01:15] corbimos commented on #15
After 30 confirmations it was no longer locked.

[2018-04-06 01:15] #15 closed, assigned to nobody

[2018-04-06 01:44] ghost commented on #17
This is the stuck channel.

![stuck](https://i.imgur.com/73PPR8G_d.jpg?maxwidth=640&shape=thumb&fidelity=medium)

[2018-04-06 02:40] merehap opened #18 "Destination that is reachable for LND is unreachable for Eclair going through that LND node"
While trying to send funds to Community Jar (https://www.coinpanic.com/Lightning/CommunityJar) using the Eclair mainnet mobile wallet, I get the error message "payment fee was below the minimum required by the channel". My Eclair wallet only has one channel, which is open to my LND node. My LND node is able to find a route to, and pay, Community Jar with no issue (when I initiate the payment on th

[2018-04-06 03:08] ghost commented on #17
Out of curiosity, how would I troubleshoot the issue? Any logfile in the android wallet?
I could not find any info about this channel on any public lightning explorers such as http://1ml.com

[2018-04-06 03:23] merehap commented on #18
Screenshots of the error messages I receive:

![screenshot_2018-04-05-20-17-03](https://user-images.githubusercontent.com/180403/38402141-13946d7c-390f-11e8-859e-128b9e566752.png)

![screenshot_2018-04-05-20-17-11](https://user-images.githubusercontent.com/180403/38402140-136d061a-390f-11e8-8df8-fd8109e04a64.png)

[2018-04-06 05:55] CaveRock commented on #17
Have a similar issue, have a channel whose creation txid does not exist on the network (can't be found by explorers). Now when trying to close the channel it has been sitting in the closing state for a while.

The problem now is not being able to re-open a channel to the same node due to an error message saying that duplicate channels are not allowed (understandable)

[2018-04-06 06:02] CaveRock commented on #12
The "abandoned" funding and closing channels whose txid's cannot be found on the block chain or in the mempool mean I cannot get the channel to close (I don't believe there even is a channel which is the problem) and this means I can't try to reopen the channel to the same node.

My balance is correct even though the channel has not closed yet...

[2018-04-06 06:09] CaveRock opened #19 "Funded a channel - txid for funding does not exists, causes issue when trying to close "channel""
I have funded a channel, after not seeing any confirmations for quite a while, i tried to look at the funding tx on the main chain (or mempool) and it does not exist. Now the problem is that I cannot seem to close this "channel" and I doubt it will auto close after 144 blocks as there is no actual transaction.

Using rebroadcast did not make any difference, not sure what would happen when trying t

[2018-04-06 06:44] remyers commented on #12
I think I have a similar issue.  I believe my repo steps were something like this:
1) open channel (then walked away from the phone)
2) when I came back, the channel was not opened and I think it timed out due to low tx fee
3) performed a forced close of the channel to recover channel funds
4) stuck in 'CLOSING (uncooperative)' state
5) I also cannot open a new channel with this node.

This is the

[2018-04-06 06:50] pm47 commented on #19
Can you paste the txid here?

Indeed the case where the tx never confirms isn't well handled currently, and channel will stay in CLOSING forever (but no funds are lost, your balance should be correct and your wallet should continue working ). Managing this is not trivial since the only way to be sure that it really will never confirm is to actually double spend it.

[2018-04-06 06:53] pm47 commented on #17
@gustavonalle this looks related to https://github.com/ACINQ/eclair/issues/546

@CaveRock that's a different issue, but I see you have opened a separate ticket

[2018-04-06 07:07] CaveRock commented on #19
The channel ID: 0192d3d468d68fa3f30763ddbe108183d0bbf8fcf59e8e6227ab6c6e2
Funding txid: 1f638e296e6cab27628e9ef5fcf8bbd0838110bedd6307f3a38fd668d4d39201

Makes sense that there would be some trickyness to dealing with this scenario.

I think the main issue for my install right now is the validation rule that fires when I try create a new channel to the same node as the failed closing channel.
Is t

[2018-04-06 07:27] andronoob commented on #17
Have a similar issue, too. The fund might be locked for 144 blocks, I'm waiting for the result.
BTW, I'm connecting Eclair v0.2-beta1 running on my PC thru LAN.

[2018-04-06 07:32] remyers commented on #17
I think I have a similar issue.  I believe my repo steps were something like this:
1) open channel (then walked away from the phone)
2) when I came back, the channel was not opened and I think it timed out due to low tx fee
3) performed a forced close of the channel to recover channel funds
4) stuck in 'CLOSING (uncooperative)' state
5) I also cannot open a new channel with this node.

This is the

[2018-04-06 07:48] ghost commented on #17
@pm47 Can I see the logs in the android wallet to see why the channel is stuck on closing? Anything I can do to forcibly close a forcibly closing channel? 😀

[2018-04-06 08:49] CaveRock commented on #19
In my case I don't think the tx ever went out onto the network, can't be found in mempool or on chain.

Seems like all records related to a funding tx whose txid never appears in the mempool need to be flushed, maybe there is a threshold of time without the txid appearing in mempool where this can happen? (sorry if my suggestion is over simplified, assume there is a lot of complexity going on unde

[2018-04-06 09:15] robtex opened #20 "CLOSING (uncooperative) forever"
Set up a channel from eclair to my lnd node
For unknown reason eclair decided to uncooperatively close it shortly after (about 90 minutes or so).
Never actually used that or any other channel.
the channel has now been stuck in acinq as closing for days. Restarted app, phone and even cleared cache on it.
The closing TX is well confirmed
My three other channels are in state normal
https://www.robtex

[2018-04-06 11:41] ghost commented on #17
I was able find public info about the channel:

https://www.robtex.com/lightning/channel/568071478635462656

The closing tx has 160+ confirmations and one output to a bech32 address.

Does that mean the funds went to the other party? This would be really weird as I opened the channel, the other party went OFFLINE and I manually closed the channel.

[2018-04-06 13:50] pm47 commented on #17
@gustavonalle using android studio you will see the logs

[2018-04-06 14:02] j3bm3ch commented on #20
Same here.
Set up an eclair channel to my lnd node yesterday with 150k satoshis in it.
Channel gets confirmed and switches to normal state.
Push 20k sats through it to an invoice my node generated. Worked like a charm.
Tried to send a 1 sat transaction through it, was stopped by the cap rule.
Deactivated fee capping, tried again with 10 sats.
Transaction goes into pending state and never gets conf

[2018-04-06 14:31] ghost commented on #17
Does Android studio connect to my phone to extract the logs? Do I need a rooted phone?

[2018-04-06 14:35] JukeboxRhino commented on #17
I also just experienced this issue. I'll post as much information as I can.

Channel Identifier: 10c3ad51ddc447d4a82ededf6b474e457519c2cd86936ee3618952981d7a9f9d
Remote Node: [030312a32a1d38d27312c9596de2f9078b1b3bba522f7d204049dd5282b950762f](https://1ml.com/node/030312a32a1d38d27312c9596de2f9078b1b3bba522f7d204049dd5282b950762f)
Funding Transaction: [9d9f7a1d98528961e36e9386cdc21975454e476bdfde2

[2018-04-06 14:37] ghost commented on #17
#546 looks like the closing tx was not done due to wrong fees, whilst in my case it is in the blockchain but the wallet cannot recover from the closing state

[2018-04-06 14:45] pm47 commented on #17
Closing involves not only the commitment tx, but also all the txes that may
send funds back to your wallet. Those txes might have the fee issue.

Le ven. 6 avr. 2018 à 16:37, Gustavo Fernandes <notifications@github.com> a
écrit :

[2018-04-06 14:58] sstone commented on #17
@gustavonalle you don't need to root the phone (and you should not root a phone if you have a bitcoin wallet on mainnet) but you need to enable debugging (see https://developer.android.com/studio/debug/dev-options.html). then when you connect you phone to your PC for the first time it will ask you it you want to authorize USB debugging and wil show you the PC's fingerprint. Then you will be able t

[2018-04-06 15:12] ghost commented on #17
@sstone Thanks. Will get the logs as soon as leave this beach and have access to a computer 😁

[2018-04-06 15:37] sstone commented on #16
Did you initiate the closing of the channel ? What do you mean by "inaccessible" (what happened when you restarted the app) ?

[2018-04-06 15:50] sstone commented on #18
I will try and reproduce the problem with eclair-wallet and our desktop app (they use the same core libraries and route selection code) and update this ticket. Have you been able to buy a very cheap article on yalls (mainnet) ?

[2018-04-06 16:10] merehap commented on #18
@sstone Yes, I've bought two yalls articles on the mainnet using the same Eclair wallet routed through the same LND node. At 151 satoshis they are slightly cheaper than the 1000 satoshi sends I've sent to yalls.

I just attempted a 151 satoshi send to Community Jar using the same setup and it failed too with "payment fee was below the minimum required by the channel".

[2018-04-06 17:54] pors opened #21 "Mainnet payments failed"
I tried two LN payments to different merchants (blockstream store and hodlmoney) and both attempts failed.

Two screenshots of the payment request and the errors. It is reproducible:

![image 2018-04-06 20 53 45](https://user-images.githubusercontent.com/1078320/38436209-9a339ace-39dc-11e8-8c61-64634468f5df.jpg)

![image 2018-04-06 20 53 49](https://user-images.githubusercontent.com/1078320/384362

[2018-04-06 19:01] sstone commented on #17
@JukeboxRhino I'm not sure I understand your problem: the closing tx that you post is confirmed and has been spent ?

[2018-04-06 19:03] JukeboxRhino commented on #17
@sstone I think it's because of the issue with eclair desktop linked above (https://github.com/ACINQ/eclair/issues/546). If my desktop node was the one to force close the channel, then my phone wallet would have been able to spend the coins, which it was.

[2018-04-06 19:07] sstone commented on #17
@remyers your closing tx needs to be confirmed 144 times before it can be spent, it was not when you posted but now the phone should be able to spend the closing tx and return the funds to your bitcoin wallet (you should see a new incoming transaction). What happens when you start eclair ?

[2018-04-06 19:12] sstone commented on #17
@JukeboxRhino sorry I still don't understand. the funding tx is spend by a closing tx with 2 outputs, one that can be spent immediately (I guess it was your desktop output, it was spent and the channel closed), the other that cannot be spent before it has been confirmed 144 times and that's not the case yet

[2018-04-06 19:18] sstone commented on #21
it could be a liquidity issue (see #14 for example). Have you tried paying for very cheap items on yalls(mainnet) ?

[2018-04-06 19:34] #6 closed, assigned to dpad85

[2018-04-06 19:34] #7 closed, assigned to dpad85

[2018-04-06 20:40] ROBKEN2014 opened #22 "Incorrect balance displayed"
Help me please. Receive 100k satoshi 2 times. APP only display 1 time. See the image in this link https://ibb.co/dKDsCH

[2018-04-06 21:06] dognip opened #23 "Noob, looking for help. Channel was force closed for 'uncooperative'"
Hi,

I'm looking for some help. If this is the wrong location for that, please direct me to another location.

I opened a channel: https://api.blockcypher.com/v1/btc/main/txs/23abf0ca667072fe64b1067501bdd6bad78a8f3b1661d00a02c4fe4074e21748

It was then closed and deemed 'uncooperative'. My funds are locked up now? Is this for a specific amount of time? Do I need to do anything to retrieve them?

T

[2018-04-06 21:15] pm47 commented on #20
@robtex to be sure, you have restarted the app after the tx having reached 144+ confirmations?

are you using any specific configuration in lnd to require higher delays?

[2018-04-06 21:48] ttajaf68 commented on #16
I iniated the closing. The first couple of times I tried to restart the app it said something about 'startup taking too long so' cancelling/aborting. After that it just showed a pop up saying unable to start. It was the apk off here verified installed on a samsung gt-i9195 (android 7.1.2 / lineage 14.1.20170825-NIGHTLY)

[2018-04-06 21:50] ttajaf68 commented on #16
i re-installed from play store and entered my seed to recover wallet. No app start up problems since but no funds returned from channel.

[2018-04-06 22:24] merehap commented on #18
I also just reproduced this for a node that my LND node is directly connected to, BitcoinShirt (039195c0969d69f9a25839cb44bd5e858bd9e3971638959f0e657bffa6692b43f1@13.92.141.163:9735). I first attempted to pay with Eclair through my LND node, which failed, then I tried to pay directly using my LND node, and that succeeded.

Note that the failure message was only "processing node does not know the n

[2018-04-06 23:01] mautematico commented on #22
As you don't have oppened LN channels yet, you could backup and restore your wallet.

To do so, first extract your recovery seed (24 words afaik), then delete + reinstall eclair.
Be ultra careful while extracting your recovery seed, if you fail to write it down correctly, your 200ksat will be lost forever.

Don't do it if you have opened channels, as recovery seed does not cover them.

[2018-04-06 23:03] mautematico commented on #8
I am facing that same issue.

It is really annoying that there is no clear info about how much you must keep. I have 131k satoshis and are unable to open a channel with 100k capacity.

[2018-04-06 23:03] sstone commented on #23
This is a very common question, I've added it to our [FAQ](https://github.com/ACINQ/eclair-wallet/wiki/FAQ). You can get support for eclair and eclair-wallet on our [gitter](https://gitter.im/ACINQ/eclair).

Thanks!

[2018-04-06 23:06] sstone commented on #23
I forgot to add: in your case you should get your funds back in about 18 hours

[2018-04-06 23:33] mautematico commented on #8
I put a few extra satoshis and now I understand it:
Eclair forces you to keep at least 100ks available onchain  to open a  channel, like this:

![imagen](https://user-images.githubusercontent.com/1238928/38448279-cf725266-39c8-11e8-9fe8-04f6009c4173.png)

[2018-04-06 23:39] mautematico commented on #12
CLOSING (Uncooperative) state takes several hours (days?) to conclude. You should avoid that option as much as possible.

I think you only need to wait until clossing uncoop finishes.

[2018-04-06 23:41] mautematico commented on #8
And... they are fixing it.

https://github.com/ACINQ/eclair-wallet/commit/35ee943c7b21ce214d9852d35f3e9cab4161ae13#diff-e5c0452da704b2a3f36bb8616334352bL26

[2018-04-06 23:49] mautematico commented on #16
channel funds are not backed up by seed words; it is stated on the screen that gives you seed words.

For me it seems that you did not complete channel clossing.

I think your funds are lost forever, unless... If I understand correctly, if/when your counterparty closses the channel (after so long time of being unable to reach you), your funds should re-appear.

[2018-04-07 05:19] ttajaf68 commented on #16
i am talking about 2 separate things. first the channel was closed. Then the next day I could not access the app so I had to reinstall it and use my seed to restore the wallet. I reinstalled the app and used my seed about 24 hours after the channel was closed so I would have expected the funds to have gone back by then.

[2018-04-07 06:10] ken2812221 commented on #20
I use eclair wallet testnet and auto connect to your
node, and I close the channel uncooperatively, now it is over 2500 confirmed. Does not refund to my wallet. txid: 80a9b539f4879ca39bea53b38b65c93052a84204b502eeeae57167d5a4e734cb
![](https://i.imgur.com/k3FD0zw.png)

[2018-04-07 07:49] pors commented on #21
Yeah, a payment to yalls did work. I wonder if it has to do with liquidity though, or the error messages are a it "off" :)

[2018-04-07 08:35] pm47 commented on #21
@pors `channel currently unavailable` is typically the kind of errors you will get when a channel in the route can't relay the payment because it is unbalanced. This is a spec requirement: for privacy reasons, channels don't send out details informations about their current balance, because that would leak a lot of information, and open way to probing attacks.

The current state of the network (mo

[2018-04-07 08:47] pors commented on #21
Ah yes, that makes sense. Thanks for explaining!

[2018-04-07 08:47] #21 closed, assigned to nobody

[2018-04-07 09:18] pm47 commented on #18
It is nice to be able to reproduce in a simpler setup like that. Can you find out what channel lnd uses when you make a direct payment?

What would be great is have full details (`Origin`/`Channel`) and compare it to the channel lnd was using when it sent the payments. It seems that eclair is trying to route through a channel that lnd doesn't know about, which is weird because eclair must have hea

[2018-04-07 10:57] robtex commented on #20
@pm47 default settings in lnd, on latest master.
closing transaction a67136696f3886e7a568ebe07af95461583e5fb76d44db23d041a85f57eac32b currently has 404 confirmations
have restarted the app, the phone, even cleared the cache.
lnd node has also been restarted
the three other sessions are still normal, might be only clightning nodes
not found in listchannels nor pendingchannels on the lnd node

[2018-04-07 14:43] robtex opened #24 "bech32 nodeid QR"
Shouldn't QR code with a bech32 encoded nodeid work?
It seems only the hex version works.
Would be much smaller QR codes.

[2018-04-07 15:35] mautematico commented on #16
Then you're confusing how the protocol works.

When you (uncoop) close a channel, you must wait for it to complete close operation.
(uncoop) Closing transaction can't be confirmed before N-height of blocks, and AFAIK eclair won't relay it to the network until said N is reached.

So basically your channel was not closed, but in a state like _waiting for (uncoop) close_, I think.

[2018-04-07 16:16] ROBKEN2014 commented on #22
I deposited another 210k satoshi, and still the wallet showed incorrect balance, still lacking 100k, even doing the bakup and restoring the wallet, still did not clear the balance, proving to be an interface problem. (transactions are shown, adding 410k satoshi, but the balance is added wrong!)

[2018-04-07 16:21] ROBKEN2014 opened #25 "HELP PLZ!!!!"
How can I request a lightning payment? I want to receive from a friend, I have no idea how to create a request. I'm already connected to ACINQ's lightning network.

[2018-04-07 18:40] anthony-ism opened #26 "Payment attempt failed"
Attempt to make payment to blockstream store using random eclair node. Get the following message

![screenshot_20180407-143041](https://user-images.githubusercontent.com/5731861/38458840-84f025da-3a70-11e8-8e7d-28b7ded49345.png)

Attempted a few times and also unchecked uncapped fees preference.

Each time I try I keep getting the same node offline. Basically no route to host?

Also I attempted to

[2018-04-07 18:41] ttajaf68 commented on #16
Sorry. If I could have accessed the app normally the next day when I attempted to then eclair would have relayed it and I would have had my funds returned ?

[2018-04-07 18:47] anthony-ism commented on #26
Also it would be useful to be able to easily retry for payments that have failed. Right now I need to dig into the details, find the payment hash, copy it, and repeat the process.

[2018-04-07 19:29] AlbertPhan commented on #22
I also have this exact problem. I sent 1mBTC in two seperate transations and they appear in the transaction history like OPs but the balance is wrong. I believe I tried to set up a payment channel before with 1mBTC but not sure if it went through because there is no history of it. I also reinstalled and the same problem exists.

[2018-04-07 20:39] ghost commented on #17
@sstone @pm47 I attached the phone to Android Studio but the logs are just android level debug statements regarding UI and events which are pretty useless.

[code]

Furthermore, it does not allow to show logs from when I closed the channel to see why it didn't close properly.

When I asked about logging, I was asking about wallet logs, to try to understand why the channel is permanently on CLOSING

[2018-04-07 20:44] sstone commented on #25
You cannot receive payments with our mobile node (see our [FAQ](https://github.com/ACINQ/eclair-wallet/wiki/FAQ), but you can with our "regular node" (checkout [eclair](https://github.com/ACINQ/eclair)).

[2018-04-07 20:48] sstone commented on #26
This is very likely a liquidity problem (see our [FAQ](https://github.com/ACINQ/eclair-wallet/wiki/FAQ#why-does-my-5-payment-to-ln-shops-fails-while-my-1-payments-to-eg-yalls-work)). Basically most channels are small and very few of them can handle a "largish" payment of $30 (you should be able to pay very cheap items on yalls for example). It will get better as the network grows.

[2018-04-08 07:52] griswaalt opened #27 "Channel closing (uncooperative) - no progress in status even after 144 blocks"
So I set up a channel with the SLEEPYARK node to buy some blockstream stickers. However, since my funding amount was a bit less, I couldn't make a purchase tx so I decided to close the channel. On clicking close, the status changed to closing (uncooperative) and there has been no progress since then. I closed the channel over 2 days back so it is well past 144 blocks. However, there is no on chain

[2018-04-08 08:25] ghost commented on #27
Identical to https://github.com/ACINQ/eclair-wallet/issues/17
Unfortunately I was not lucky to get logs and figure out the exact cause, but it's a good thing it can be reproduced easily so devs will be able to fix

[2018-04-08 09:47] pm47 commented on #27
@griswaalt @gustavonalle Any of you has a rooted phone? Being able to access app data would facilitate debugging a lot

[2018-04-08 10:25] griswaalt commented on #27
@pm47 I am running this on stock, unrooted Android.

[2018-04-08 10:28] ghost commented on #27
@pm47 If you run the app in the android studio using the emulator in debug mode, put 2 mBTC, wait for confirmation, open a channel to a node you control, kill that node, forcefully close the channel in the emulator, you'll probably be able to reproduce the issue, since pretty much everyone is seeing it.

Now, since you lost the password to update the app on google play (https://twitter.com/acinq_c

[2018-04-08 10:43] pm47 commented on #27
Yes we are doing that, but the more information the better

Not without the app data, because there is per-channel random data that is generated by each peer for each channel

[2018-04-08 10:57] ghost commented on #17
I reproduced the issue with the emulator, opening a 1mBTC channel (mainnet) with 02ad6fb8d693dc1e4569bcedefadf5f72a931ae027dc0f0c544b34c1c6f3b9a02b@167.99.50.31:9735
 and closing it forcibly on my side. No refund on-chain tx can be seem, and the logs only printed:

[code]

There is a suspect logging at the start though, when initialising the actor system's loggers:

[code]

I understand that the e

[2018-04-08 11:00] ghost commented on #27
You mean not without rooting the phone and reading the SQL DB?

[2018-04-08 11:07] pm47 commented on #27
Yes

[2018-04-08 11:29] pm47 commented on #17
and closing it forcibly on my side. No refund on-chain tx can be seem

The refund transaction can't be published before the commitment tx reaches 144 blocks, which isn't the case yet for your tx I think. This is what makes the bug difficult to diagnose

Interesting, we'll have a look at that

[2018-04-08 11:30] ghost commented on #27
Hmmm...that's bad :(

What if I build the app directly from (bug fixed) sources and manually install it on the phone?

[2018-04-08 11:39] ghost commented on #17
Yeah, I though about that, I will let the emulator running for a while then.

[2018-04-08 11:41] ghost commented on #17
Btw, is the commitment tx visible in the logs or in the wallet? I can see recurring events printed:
[code]

But those 2 tx are for the initial on-chain tx in my wallet and for a cooperative close I've done

[2018-04-08 11:44] pm47 commented on #17
Those are for transactions related to the on-chain wallet, which is separated from the lightning part. If the refund transaction was sent, it would appear in these messages

[2018-04-08 11:50] pm47 commented on #27
If you do that, signature will be different and android will reinstall the app, deleting the data in the process :-/

[2018-04-08 12:11] ghost commented on #27
I can see you also have ```android:allowBackup="false"``` in the Android manifest, which would prevent obtaining the data via a backup with the user permission 😭

[2018-04-08 12:15] pm47 commented on #27
Yes, this is by designed. The app data is completely locked from the inside

[2018-04-08 12:21] dognip commented on #23
This has been written about in other issues but I see no solutions posted.. It has been well over 18 hours and my funds are still missing. Can anyone help?

[2018-04-08 12:22] dognip commented on #27
So it sounds like either we root our phones or we lose the funds? Is that correct?

[2018-04-08 12:25] pm47 commented on #27
We don't know yet, I haven't even been able to reproduce the issue. As soon as we understand exactly what the problem is, we'll be able to tell

[2018-04-08 12:29] gustavonalle commented on #27
Looks so, unless the devs ask Google for another key to be able to update the app:

[code]

I have a strong feeling that they are not "enrolled in Google Play App Signing" though :smile:

[2018-04-08 15:33] ghost commented on #17
@pm47 The log error is fixed by https://github.com/ACINQ/eclair-wallet/pull/28.
I will change it to DEBUG locally to see if I can catch any error with the force closing of channels

[2018-04-08 15:33] TheRebelOfBabylon opened #29 "Cloning project in Android Studio"
Anybody here manage to do it? I cloned the wallet project, cloned eclair, checked out android branch, built core with maven but I'm having issues with gradle.build where it can't resolve "compile 'fr.acinq.eclair:eclair-core_2.11:0.2-android-SNAPSHOT' ". I have a feeling it's because eclair core needs to be in a folder within the project but I have no idea where to put it.

[2018-04-08 15:53] ghost commented on #29
This is a separate library that you need to build before importing the project on Android Studio
https://github.com/ACINQ/eclair-wallet#developers

[2018-04-08 15:57] dpad85 commented on #29
Your build fails because the eclair-core version in the latest commit on the `android` branch is `0.2-android-beta1`, but the latest commit on the `testnet` branch of eclair wallet requires the version `0.2-android-SNAPSHOT` (the development version of eclair-core for android). Since you have not build the snapshot version, eclair wallet is missing this dependency and can't build.

To fix this, pl

[2018-04-08 16:04] TheRebelOfBabylon commented on #29
Perfect changing the dependency worked like a charm! Thanks for the help.

[2018-04-08 18:56] irekzielinski commented on #17
Seem to have a similar issue.
Opened channel to you guys (Acinq node) - but I think channel was depleted so all payments were failing. Tried to close it cooperatively, but this was not working neither. After trying force close - channel seems to be stuck at CLOSING for few days now.
![screenshot_20180408-195320](https://user-images.githubusercontent.com/19826327/38471286-e12c5048-3b66-11e8-8c1f-d8

[2018-04-08 19:44] pm47 commented on #20
This is a duplicate of #17, please see updates there.

[2018-04-08 19:44] #20 closed, assigned to nobody

[2018-04-08 19:44] pm47 commented on #27
This is a duplicate of #17, please see updates there.

[2018-04-08 19:44] #27 closed, assigned to nobody

[2018-04-08 19:46] pm47 commented on #16
@ttajaf68 normally yes, however we have a pending bug (#17) that currently prevents it.

I'm closing this, because you have deleted your data and there is nothing we can do anymore now.

[2018-04-08 19:46] #16 closed, assigned to nobody

[2018-04-08 19:54] pm47 commented on #17
We have identified the bug and are working on a fix. There is a chance we may be able to recover funds without updating the app.

In the meantime please 🚨 DO NOT DELETE YOUR APP DATA 🚨

cc @robtex @j3bm3ch @Mindphreaker @ken2812221 @griswaalt @dognip

[2018-04-08 20:15] #25 closed, assigned to nobody

[2018-04-08 20:17] pm47 commented on #23
This is a duplicate of #17, please see updates there.

[2018-04-08 20:17] #23 closed, assigned to nobody

[2018-04-08 20:34] merehap commented on #18
LND uses the most direct route, with no intermediaries (for the BitcoinShirt store case). It prints the hops out so I could verify this.

Since the Eclair wallet doesn't print the hops attempted out, I'm not sure which route it attempted.

[2018-04-08 23:22] mautematico commented on #16
@pm47 please could you confirm or refuse:

As per LN protocol, if remote node (uncoop) closes same channel after some time of it being disconnected, should OP recover its funds?

@ttajaf68 there is no need to be sorry, we're here trying our best to help you, no strings attached :)

[2018-04-08 23:26] mautematico commented on #24
Please provide qr (or qr value) example, to help dev team reproduce this issue. :)

[2018-04-08 23:31] mautematico commented on #22
@AlbertPhan, @ROBKEN2014, please extract your seed and try it on latest Electrum version.
It needs to be imported as BIP39 + BIP49 seed.

Electrum will display _correct_ balance. This means:
If electrum shows exact balance as expected **and there is no balance on LN channels,** then you can safely  reinstall eclair app, and everything should be there.

**But** if electrum displays fewer balance th

[2018-04-09 12:38] pm47 commented on #18
@merehap knowing what route lnd took, and what route eclair attempted to use (using the screenshot like you did before) would help a lot.

For example, if for some reason the channels open by lnd were not announced (not enough confirmations), then lnd would be able to use them, but eclair wouldn't. That's what I'm trying to figure out. Could you try to reproduce and report back that info?

[2018-04-09 13:13] sek3 commented on #17
In facing the same issue here. I opened a channel and then realized I hadn't enough funds for the LN transaction I wanted to do. I force-closed it 10 min after opening the channel, so I believe the channel wasn't fully  confirmed yet. This was on Friday. In yet to receive the funds back after 400+ confirmations.

[2018-04-09 20:49] merehap opened #31 "Attempting a cooperative close results in an unwanted force close if there are pending HTLCs"
I opened a node between my Eclair mobile wallet and my (well-connected) LND node, and made multiple Lightning transactions using my Eclair wallet (through my LND node). One of these transactions got stuck in the pending state for three days at which point I decided to attempt to cooperatively close the channel (for unrelated reasons). At this point the cooperative close failed due to still having

[2018-04-09 21:14] pm47 commented on #17
We may have found a way to retrieve funds without updating the app. If you have encountered the bug please ping me on our [gitter](https://gitter.im/ACINQ/eclair) thanks!

[2018-04-09 21:18] ghost commented on #17
Could you publish a how to?

[2018-04-09 21:21] pm47 commented on #17
That is the end goal yes, I'd like to test the process with a few volunteers first, you up?

[2018-04-09 21:42] r1979 commented on #17
@pm47 I also have the same issue. I'd like to volunteer.
This is my stuck channel.
![photo_2018-04-09_23-40-57](https://user-images.githubusercontent.com/6621246/38524638-9bd1ef00-3c4f-11e8-9831-f02118061f66.jpg)

[2018-04-09 22:05] pm47 commented on #17
@r1979 please ping me here: https://gitter.im/ACINQ/eclair

[2018-04-09 23:05] pm47 commented on #17
To everybody having the issue, we have made a [step-by-step tutorial](https://github.com/ACINQ/eclair-wallet/wiki/Recover-funds-stuck-in-CLOSING-state-from-Eclair-Wallet-0.3.0) that should allow you to recover funds that are stuck.

Please report back here to tell me how it went, thanks!

[2018-04-10 04:07] xanthintwin commented on #17
Excellent! That worked! I got my 10 Euro back :-)

[2018-04-10 04:33] ken2812221 commented on #17
This seems not work with testnet

[2018-04-10 06:50] irekzielinski commented on #17
Option 1 (app) was not working for me.
Option 2 (Static IP/DNS) and reboot worked for me - thanks!

[2018-04-10 07:34] drunkenclam commented on #17
DNS Server offline?

[2018-04-10 07:41] pm47 commented on #17
no but dummy webserver for configuration check was down

[2018-04-10 07:41] pm47 commented on #17
@ken2812221 this is only for mainnet

[2018-04-10 08:14] drunkenclam commented on #17
Still not working here, Browser says connection refused when trying to open eclair.dns

[2018-04-10 08:26] CaveRock commented on #19
I've done the dns update and restarted as per the instructions in the thread relating to the non closing of a channel and the non return of funds.

My issue is a bit different, the channel funding transaction never hit the mempool, but the channel record was visible in the app. I tried to close the channel (Force) which changed the state to CLOSING (uncoop).
The problem for me I believe is that th

[2018-04-10 08:54] griswaalt commented on #17
Thanks @pm47 Method # 1 using DNS Changer worked for me.

[2018-04-10 08:58] sstone commented on #17
@drunkenclam just tried it 5 minutes ago and it worked. You need to use `http://eclair.dns` (and not `https://eclair.dns`)

[2018-04-10 09:06] drunkenclam commented on #17
I did use http://eclair.dns but still doesn't work. It looks like I'm the only one, so it may be a problem with my phone.

[2018-04-10 09:44] pm47 commented on #17
@drunkenclam maybe try the other simpler method with the app?

[2018-04-10 10:37] j3bm3ch commented on #17
Worked for me, too, thanks @pm47. Used a tool available in F-Droid to change the DNS temporarily.

[2018-04-10 11:00] drunkenclam commented on #17
Worked for me now as well, I had to temporary deactivate IPv6 in my wifi network.

[2018-04-10 12:54] remyers commented on #17
Great work @pm47 et al, real bitcoin wizardry.  Your DNS solution fixed my forced close tx as well.

[2018-04-10 13:23] DanielWeigl opened #32 "Testnet wallet: "Seed is unreadable. Aborting""
I had the testnet wallet installed and already used it a few times. Just wanted to buy a blockachino again but now I get this message:
![image](https://user-images.githubusercontent.com/1370302/38559288-ed569744-3cd2-11e8-9d83-b7be07620717.png)

Tried:
 - start with old data -> as above
 - uninstall / reinstall testnet wallet -> same
 - delete app-data and app-cache, and uninstall / reinstall test

[2018-04-10 15:13] dpad85 commented on #32
What version of android are you using, and what model is your phone? Also, is your phone rooted?

No it's not possible since the 2 apps have different ids, and different storages isolated from one another.

[2018-04-10 19:17] vmeoc commented on #32
Hi,
Had the same issue.
Tried delete app-data and app-cache, and uninstall / reinstall testnet wallet and it worked for me.
Testnet wallet: v0.2.5
Android 7

[2018-04-10 22:13] lacksfish commented on #17
Can confirm Method #2 of this tutorial works

https://github.com/ACINQ/eclair-wallet/wiki/Recover-funds-stuck-in-CLOSING-state-from-Eclair-Wallet-0.3.0

[2018-04-11 09:23] #29 closed, assigned to nobody

[2018-04-11 09:55] dpad85 commented on #24
Thanks! It's not a priority now, but if the new format proposed [in the mailing list](https://lists.linuxfoundation.org/pipermail/lightning-dev/2018-April/001139.html) gains traction, eclair will certainly support it.

[2018-04-11 13:45] andronoob commented on #17
Worked for me as well.

[2018-04-11 14:33] #26 closed, assigned to nobody

[2018-04-11 16:43] pm47 commented on #31
I think what you are observing is the expected behavior:

This can happen if any node in the route, or even the final node becomes unresponding, there is nothing eclair-wallet can do in that case but wait for the htlc to timeout

In practice the timeout depends on the number of peers in the route, typically 144 blocks per peer currently (this may be reduced in the future when the network gains con

[2018-04-12 00:43] merehap commented on #31
OK, makes sense on the first three points, though there should be a way to communicate to the user that they won't be getting their funds back for a while (it seemed to me like it was stuck indefinitely, as an example of user confusion).

For the fourth point, I don't think it was the counterparty that closed the channel, I think it was Eclair.

Here's the LND logs that make me conclude this, spec

[2018-04-12 07:44] DanielWeigl commented on #32
Just tried once again (deleting data&cache, deinst and install again), still same error.

Phone: OnePlus5 with stock OS (Android 8.0.0, non Root)

The ADB logoutput is also not very verbose:

[code]

The installed applicationIds:
[code]

[2018-04-12 09:22] pm47 commented on #31
Oh, I misread your statement.

What makes you think that?

[2018-04-12 12:31] dpad85 commented on #32
@DanielWeigl Could you install this apk: https://acinq.co/assets/wallet/eclair-wallet-0.2.5-TESTNET-issue32.apk ? This version simply adds a log in startup to help with debugging.

* then run this command: `adb -d logcat StartupActivity:d *:S` - you should get an exception with more details.

* you can also check the unreadable seed by backuping the application's data with the `adb backup -apk fr.

[2018-04-12 12:43] DanielWeigl commented on #32
This version started correctly and presented me the "Import Existing wallet / Create new Wallet" activity.

[code]
if i deinstall this one and reinstall the version from the playstore again, its again showing me the error "Seed is unreadable" on startup

Starting the issue32-apk after starting the playstore-apk once (and got stuck on bug message, without clearing data) also results in:
[code]

Any

[2018-04-12 13:07] dpad85 commented on #32
It seems that, with the version from the playstore, deinstalling the application does not completely clean the app data layout, and the eclair data directory remains. When starting, eclair-wallet checks this directory existence and, finding it, suppose that the seed exists, which is not the case. Logically, when it actually tries to read the seed, it fails with the `unreadable` error.

The diff be

[2018-04-12 15:32] #32 closed, assigned to nobody

[2018-04-12 15:55] merehap commented on #31
The first LND log line above is

So LND rejected cooperative channel closure due to there being a pending htlc, and Eclair initiated a force closure as a result.

[2018-04-12 18:49] dpad85 opened #33 "[mobile] Send button is too subtle"
<a href="https://github.com/patestevao"><img src="https://avatars0.githubusercontent.com/u/7728511?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [patestevao](https://github.com/patestevao)**
_Wednesday Apr 04, 2018 at 09:52 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/535_

----

Hi, I'm using Eclair 0.2.5 in Android 5.1.

Here is something I notic

[2018-04-12 18:49] dpad85 commented on #33
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Wednesday Apr 04, 2018 at 11:22 GMT_

----

Hi, this color is a bit muted because the primary color for the testnet version is gray-ish. The primary color for the mainnet version is much mo

[2018-04-12 18:49] dpad85 commented on #33
<a href="https://github.com/patestevao"><img src="https://avatars0.githubusercontent.com/u/7728511?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [patestevao](https://github.com/patestevao)**
_Wednesday Apr 04, 2018 at 13:56 GMT_

----

Hi, thanks for answering.

Nice to know that the color will be different in the mainnet version. Even so, you guys could consider mak

[2018-04-12 21:06] anthony-ism commented on #17
Method worked like a charm! Just curious, does the "CLOSING (uncooperative) channel entry ever go away?

[2018-04-13 03:28] chrisrico opened #34 "Add receive capability over "trusted" channel"
Perhaps there are other blockers preventing receiving in eclair-wallet, but I know a big one is lack of Watchtowers.

It occurred to me that a workaround in the interim would be to allow designating a channel as "trusted", i.e. a connection to a full Lightning node that you control. Similar to how many SPV wallets allow you to connect to a trusted full node, this would allow safe receiving as your

[2018-04-13 06:56] luojunquiaoll123 opened #35 "我无法使用我的闪电钱包！"
EXPECTED format is node id@host:port！
I can't create a node and I can't collect money! I am a gui user, please teach me!

[2018-04-13 07:03] luojunquiaoll123 commented on #35
![screenshot_2018-04-13-14-59-14-738_fr acinq eclair wallet mainnet2](https://user-images.githubusercontent.com/35659049/38721208-ceec52fc-3f2b-11e8-96dd-ddc744b2c142.png)

[2018-04-13 09:18] dpad85 opened #36 "More options for fees - i.e "Cap at 20%""
<a href="https://github.com/CubicEarth"><img src="https://avatars0.githubusercontent.com/u/7982712?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [CubicEarth](https://github.com/CubicEarth)**
_Friday Apr 06, 2018 at 15:15 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/548_

----

The only option currently is to cap fees at 3%, or to not enforce at all

[2018-04-13 09:18] dpad85 commented on #36
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Thursday Apr 12, 2018 at 18:47 GMT_

----

Are you thinking about Eclair Wallet for this? For eclair node, this value can be changed by the user in `eclair.conf` and I don't think it need a

[2018-04-13 09:18] dpad85 commented on #36
<a href="https://github.com/CubicEarth"><img src="https://avatars0.githubusercontent.com/u/7982712?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [CubicEarth](https://github.com/CubicEarth)**
_Thursday Apr 12, 2018 at 22:39 GMT_

----

@dpad85 - You are right, I meant that this issue be attached to the Eclair Wallet repo.

Is there a way to 'move' the issue over? Or s

[2018-04-13 09:18] dpad85 commented on #36
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Friday Apr 13, 2018 at 09:17 GMT_

----

I'll copy this issue to the eclair-wallet repo, thanks!

[2018-04-13 09:24] dpad85 opened #37 "[mobile] Confusing label on channels list"
<a href="https://github.com/patestevao"><img src="https://avatars0.githubusercontent.com/u/7728511?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [patestevao](https://github.com/patestevao)**
_Wednesday Apr 04, 2018 at 09:49 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/534_

----

Hi, I'm using Eclair 0.2.5 in Android 5.1.

I think the label “With…”

[2018-04-13 09:24] dpad85 commented on #37
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Wednesday Apr 04, 2018 at 12:05 GMT_

----

It looks like a bug on android 5, it should display `With <node_id>` but the node id part is cut and you're left with `...`. The fix will be avai

[2018-04-13 09:24] dpad85 commented on #37
<a href="https://github.com/patestevao"><img src="https://avatars0.githubusercontent.com/u/7728511?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [patestevao](https://github.com/patestevao)**
_Wednesday Apr 04, 2018 at 13:47 GMT_

----

Okay, thank you for answering, @dpad85! Good to know. :)

[2018-04-13 09:26] dpad85 opened #38 "[mobile] Show total funds value in fiat currency"
<a href="https://github.com/patestevao"><img src="https://avatars0.githubusercontent.com/u/7728511?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [patestevao](https://github.com/patestevao)**
_Wednesday Apr 04, 2018 at 09:34 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/533_

----

Hi, thank you for your work on this; I liked what I saw so far.
I've

[2018-04-13 09:26] dpad85 commented on #38
<a href="https://github.com/pm47"><img src="https://avatars3.githubusercontent.com/u/2028222?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [pm47](https://github.com/pm47)**
_Wednesday Apr 04, 2018 at 12:03 GMT_

----

I understand you are asking something slightly different, but do you know that you can switch from BTC to fiat by tapping on the balance?

[2018-04-13 09:26] dpad85 commented on #38
<a href="https://github.com/patestevao"><img src="https://avatars0.githubusercontent.com/u/7728511?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [patestevao](https://github.com/patestevao)**
_Wednesday Apr 04, 2018 at 13:45 GMT_

----

Thank you for answering this @pm47. Cool, I didn't know that.
Maybe, there could be a way to make that behavior more obvious to users

[2018-04-13 09:27] dpad85 opened #39 "In-flight pending HTLC is not displayed in channel details"
<a href="https://github.com/btcontract"><img src="https://avatars1.githubusercontent.com/u/9870980?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [btcontract](https://github.com/btcontract)**
_Thursday Mar 22, 2018 at 08:27 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/503_

----

First I tried to send an LN payment and it got stuck in PENDING state,

[2018-04-13 09:27] dpad85 commented on #39
<a href="https://github.com/btcontract"><img src="https://avatars1.githubusercontent.com/u/9870980?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [btcontract](https://github.com/btcontract)**
_Thursday Mar 22, 2018 at 08:33 GMT_

----

Oh I've missed the fact it looks at commit tx which has this HTLC filtered out. Still this is somewhat misleading: I've decided to clo

[2018-04-13 09:27] dpad85 commented on #39
<a href="https://github.com/pm47"><img src="https://avatars3.githubusercontent.com/u/2028222?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [pm47](https://github.com/pm47)**
_Thursday Mar 22, 2018 at 09:46 GMT_

----

WDYM? This looks like a bug to me

[2018-04-13 09:27] dpad85 commented on #39
<a href="https://github.com/btcontract"><img src="https://avatars1.githubusercontent.com/u/9870980?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [btcontract](https://github.com/btcontract)**
_Thursday Mar 22, 2018 at 10:55 GMT_

----

Pending payment sum was 110 SAT so it was definitely filtered out of commit tx and "Inflight HTLCs" has a hint below stating that it o

[2018-04-13 09:27] dpad85 commented on #39
<a href="https://github.com/pm47"><img src="https://avatars3.githubusercontent.com/u/2028222?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [pm47](https://github.com/pm47)**
_Thursday Mar 22, 2018 at 11:03 GMT_

----

We do look at the actual commitment, not at the tx, so htlcs should not filtered out.

That said we only look at the local commitment, not the remote on

[2018-04-13 09:27] dpad85 commented on #39
<a href="https://github.com/btcontract"><img src="https://avatars1.githubusercontent.com/u/9870980?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [btcontract](https://github.com/btcontract)**
_Thursday Mar 22, 2018 at 11:12 GMT_

----

Yes, channel is still in SHUTDOWN and payment is still pending. The peer is endurance and payee is https://lncast.com/#!/, channel id

[2018-04-13 09:27] dpad85 commented on #39
<a href="https://github.com/pm47"><img src="https://avatars3.githubusercontent.com/u/2028222?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [pm47](https://github.com/pm47)**
_Thursday Mar 22, 2018 at 11:56 GMT_

----

It seems there is a pending htlc both in the local and remote commitment:

[code]

[2018-04-13 09:27] dpad85 commented on #39
<a href="https://github.com/btcontract"><img src="https://avatars1.githubusercontent.com/u/9870980?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [btcontract](https://github.com/btcontract)**
_Thursday Mar 22, 2018 at 11:59 GMT_

----

Should I keep a channel in SHUTDOWN (and maybe online)?

[2018-04-13 09:27] dpad85 commented on #39
<a href="https://github.com/pm47"><img src="https://avatars3.githubusercontent.com/u/2028222?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [pm47](https://github.com/pm47)**
_Thursday Mar 22, 2018 at 13:02 GMT_

----

The problem seems to be with the destination node `039475b7a118118e50a5a183c2cb681b9f659c6f5c35fff14a86d27fa84cdd04bc`: they seem to not fulfill the htl

[2018-04-13 09:28] dpad85 opened #40 "After upgrading 0.2.5 app fails to work"
<a href="https://github.com/capricornuscipher"><img src="https://avatars2.githubusercontent.com/u/11296311?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [capricornuscipher](https://github.com/capricornuscipher)**
_Wednesday Mar 21, 2018 at 19:20 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/502_

----

Upon opening a message is shown "Seed is unread

[2018-04-13 09:28] dpad85 commented on #40
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Wednesday Mar 21, 2018 at 19:48 GMT_

----

Did you upgrade from 0.2.4 (released yesterday) to 0.2.5? or from 0.2.3 to 0.2.5?

A data wipe is required when upgrading from 0.2.3 to 0.2.5. Wh

[2018-04-13 09:28] dpad85 commented on #40
<a href="https://github.com/pseudozach"><img src="https://avatars3.githubusercontent.com/u/3731591?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [pseudozach](https://github.com/pseudozach)**
_Saturday Mar 24, 2018 at 13:55 GMT_

----

I had the same issue when upgrading from a much older version to the 0.2.5 version. After cleaning the app data from android system, a

[2018-04-13 09:28] dpad85 commented on #40
<a href="https://github.com/capricornuscipher"><img src="https://avatars2.githubusercontent.com/u/11296311?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [capricornuscipher](https://github.com/capricornuscipher)**
_Saturday Mar 24, 2018 at 18:09 GMT_

----

I'm not certain which was the prior version. But clearing all the storage data and importing the HD brainkey see

[2018-04-13 09:29] dpad85 commented on #40
Probable duplicate of #32 - closing this issue.

[2018-04-13 09:29] #40 closed, assigned to nobody

[2018-04-13 09:30] dpad85 opened #41 "Eclair Mobile app can't pay yalls comments articles."
<a href="https://github.com/bitcoinuser"><img src="https://avatars1.githubusercontent.com/u/1178856?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [bitcoinuser](https://github.com/bitcoinuser)**
_Wednesday Mar 21, 2018 at 16:30 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/499_

----

Hi, I can pay yalls articles, but when I try to pay to comment on

[2018-04-13 09:30] dpad85 commented on #41
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Wednesday Mar 21, 2018 at 16:42 GMT_

----

Hi, i managed to pay an article on Yalls, and also to add a comment. Are you sure you did not change the amount when paying?

You can check that

[2018-04-13 09:30] dpad85 commented on #41
<a href="https://github.com/bitcoinuser"><img src="https://avatars1.githubusercontent.com/u/1178856?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bitcoinuser](https://github.com/bitcoinuser)**
_Wednesday Mar 21, 2018 at 16:48 GMT_

----

1- I'm sure I don't change the amount value.
2- The value that appear on yalls is in dollar. So Is not possible to know the value

[2018-04-13 09:30] dpad85 commented on #41
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Wednesday Mar 21, 2018 at 18:03 GMT_

----

Could you paste the payment request here?

[2018-04-13 09:30] dpad85 commented on #41
<a href="https://github.com/bitcoinuser"><img src="https://avatars1.githubusercontent.com/u/1178856?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bitcoinuser](https://github.com/bitcoinuser)**
_Wednesday Mar 21, 2018 at 18:06 GMT_

----

lntb210n1pdt98c8pp542e6tnq5w52grhzsgengddlt0m6z3ak3kd2ycgl2rlx88mfztv8qdq4g9jxggrpyp3k7mtdv4h8gcqzysdr4ng7452kxaqwmsrwcgdfgglfmx5f

[2018-04-13 09:30] dpad85 commented on #41
<a href="https://github.com/bitcoinuser"><img src="https://avatars1.githubusercontent.com/u/1178856?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bitcoinuser](https://github.com/bitcoinuser)**
_Wednesday Mar 21, 2018 at 18:07 GMT_

----

![captura de tela de 2018-03-21 15-06-55](https://user-images.githubusercontent.com/1178856/37728616-88a1a104-2d19-11e8-9424-2e73e

[2018-04-13 09:30] dpad85 commented on #41
<a href="https://github.com/ric2b"><img src="https://avatars3.githubusercontent.com/u/8846579?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ric2b](https://github.com/ric2b)**
_Wednesday Mar 21, 2018 at 18:29 GMT_

----

I also can't reproduce, everything worked on my end.
I was even able to pay by scanning the QR code on your image :p
(only once, it now complains th

[2018-04-13 09:30] dpad85 commented on #41
<a href="https://github.com/bitcoinuser"><img src="https://avatars1.githubusercontent.com/u/1178856?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bitcoinuser](https://github.com/bitcoinuser)**
_Wednesday Mar 21, 2018 at 18:32 GMT_

----

Very strange.

[2018-04-13 09:30] dpad85 commented on #41
<a href="https://github.com/bitcoinuser"><img src="https://avatars1.githubusercontent.com/u/1178856?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [bitcoinuser](https://github.com/bitcoinuser)**
_Wednesday Mar 21, 2018 at 18:34 GMT_

----

Please, open only one channel with yalls: 039cc950286a8fa99218283d1adc2456e0d5e81be558da77dd6e85ba9a1fff5ad3@34.200.252.146

And t

[2018-04-13 09:32] dpad85 opened #42 "[Mobile] possible regression, no longer a suggested app to handle LN payment requests"
<a href="https://github.com/ric2b"><img src="https://avatars3.githubusercontent.com/u/8846579?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ric2b](https://github.com/ric2b)**
_Wednesday Mar 21, 2018 at 13:43 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/494_

----

Hello,

The new version of eclair no longer shows up as an option on my Android 7.1

[2018-04-13 09:32] dpad85 commented on #42
<a href="https://github.com/pm47"><img src="https://avatars3.githubusercontent.com/u/2028222?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [pm47](https://github.com/pm47)**
_Wednesday Mar 21, 2018 at 13:52 GMT_

----

@btcontract Anton that's for you ^^

[2018-04-13 09:32] dpad85 commented on #42
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Wednesday Mar 21, 2018 at 14:16 GMT_

----

Can you check that lightning-wallet is not set as the default app for opening lightning payment requests?

You can do that on android 7 by going

[2018-04-13 09:32] dpad85 commented on #42
<a href="https://github.com/ric2b"><img src="https://avatars3.githubusercontent.com/u/8846579?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ric2b](https://github.com/ric2b)**
_Wednesday Mar 21, 2018 at 18:18 GMT_

----

Yes, I did check before submitting the issue :)

[2018-04-13 09:32] dpad85 commented on #42
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Wednesday Mar 21, 2018 at 18:47 GMT_

----

That's strange, I can reproduce this issue with Chrome only, Firefox works fine, consistently with the application 'open by default' setting.

[2018-04-13 09:32] dpad85 commented on #42
<a href="https://github.com/ric2b"><img src="https://avatars3.githubusercontent.com/u/8846579?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ric2b](https://github.com/ric2b)**
_Thursday Mar 22, 2018 at 15:31 GMT_

----

You're right, it works as expected with Firefox.
The link seems to have the same format on both, maybe Chrome is doing something weird.

[2018-04-13 09:32] dpad85 commented on #42
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Thursday Mar 29, 2018 at 17:34 GMT_

----

A fix will be available in the next mobile version. Chrome is actually a bit more restrictive than Firefox, that's why it would not launch eclair

[2018-04-13 09:33] dpad85 commented on #42
Fixed by https://github.com/ACINQ/eclair-wallet/commit/72a6a3d8b043d88c4c443222db8071f1256d1b6d.

[2018-04-13 09:33] #42 closed, assigned to nobody

[2018-04-13 09:35] dpad85 opened #43 "Transaction wan't broadcast from android wallet - epic confusion ensues."
<a href="https://github.com/lambohunter"><img src="https://avatars0.githubusercontent.com/u/35875901?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [lambohunter](https://github.com/lambohunter)**
_Saturday Jan 27, 2018 at 19:47 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/413_

----

Using Android wallet...

Transaction ID: f5a84164895d418fe6a76a862

[2018-04-13 09:35] dpad85 commented on #43
<a href="https://github.com/pm47"><img src="https://avatars3.githubusercontent.com/u/2028222?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [pm47](https://github.com/pm47)**
_Sunday Jan 28, 2018 at 14:54 GMT_

----

Expiration of funding tx is not implemented yet, and there is actually still discussion on the mailing list on the best way to handle that kind of things.

[2018-04-13 09:38] dpad85 opened #44 "Some special characters from payment request are displayed wrong in Eclair mobile"
<a href="https://github.com/btcontract"><img src="https://avatars1.githubusercontent.com/u/9870980?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [btcontract](https://github.com/btcontract)**
_Tuesday Jan 23, 2018 at 15:51 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/398_

----

Some encoded special characters, such as apostrophe, are not properly d

[2018-04-13 09:38] dpad85 commented on #44
<a href="https://github.com/verretor"><img src="https://avatars3.githubusercontent.com/u/10324237?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [verretor](https://github.com/verretor)**
_Tuesday Jan 23, 2018 at 16:36 GMT_

----

It seems the Android app is escaping HTML which is good for security in my opinion although a bit ugly.

[2018-04-13 09:38] dpad85 commented on #44
<a href="https://github.com/btcontract"><img src="https://avatars1.githubusercontent.com/u/9870980?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [btcontract](https://github.com/btcontract)**
_Tuesday Jan 23, 2018 at 16:49 GMT_

----

@verretor is this relevant inside of Android app? A far as I know escaping is done to prevent javascript execution on websites.

[2018-04-13 09:38] dpad85 commented on #44
<a href="https://github.com/verretor"><img src="https://avatars3.githubusercontent.com/u/10324237?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [verretor](https://github.com/verretor)**
_Tuesday Jan 23, 2018 at 17:16 GMT_

----

Could be SQL injection. Eclair uses SQLite.

There are some characters that cause problems in some very specific situations. Imagine your ap

[2018-04-13 09:38] dpad85 commented on #44
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Tuesday Apr 03, 2018 at 16:36 GMT_

----

@btcontract By chance did you keep the payment request with the `Elaine's Idle Mind` description ? I can't reproduce this issue, even with some exo

[2018-04-13 09:38] dpad85 commented on #44
<a href="https://github.com/btcontract"><img src="https://avatars1.githubusercontent.com/u/9870980?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [btcontract](https://github.com/btcontract)**
_Tuesday Apr 03, 2018 at 17:16 GMT_

----

no, sorry, it's been a long time.

[2018-04-13 09:39] dpad85 opened #45 "Reading the invoice, please wait STUCKED"
<a href="https://github.com/ianzkie"><img src="https://avatars1.githubusercontent.com/u/27544230?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ianzkie](https://github.com/ianzkie)**
_Sunday Jan 21, 2018 at 16:14 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/389_

----

Stucked at reading the invoice please wait...

[2018-04-13 09:39] dpad85 commented on #45
<a href="https://github.com/dpad85"><img src="https://avatars3.githubusercontent.com/u/5765435?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [dpad85](https://github.com/dpad85)**
_Sunday Jan 21, 2018 at 17:51 GMT_

----

Can you give your phone model and your version of android? Also, can you give me the invoice you are trying to scan? Thanks!

[2018-04-13 09:39] dpad85 commented on #45
<a href="https://github.com/ianzkie"><img src="https://avatars1.githubusercontent.com/u/27544230?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [ianzkie](https://github.com/ianzkie)**
_Sunday Jan 21, 2018 at 18:09 GMT_

----

SM-G900F
Android 5.0
I'm trying to scan invoices on Starblocks

On Monday, January 22, 2018, Dominique <notifications@github.com> wrote:

[2018-04-13 09:39] dpad85 opened #46 "Long delay at "Reading the invoice, please wait""
<a href="https://github.com/Xeroxcoin"><img src="https://avatars1.githubusercontent.com/u/34697516?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [Xeroxcoin](https://github.com/Xeroxcoin)**
_Tuesday Jan 02, 2018 at 17:58 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/356_

----

I'm using Eclair on Android, trying to pay starblocks.  I received a rece

[2018-04-13 09:41] dpad85 opened #47 "[Mobile] Channel closed unexpectedly on app launch"
<a href="https://github.com/fresheneesz"><img src="https://avatars3.githubusercontent.com/u/149531?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [fresheneesz](https://github.com/fresheneesz)**
_Thursday Dec 21, 2017 at 17:16 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/313_

----

I opened eclair just now and then went to my home screen without doi

[2018-04-13 09:42] dpad85 opened #48 "Feature Request: Request payment via lightning in Android App"
<a href="https://github.com/PRabahy"><img src="https://avatars2.githubusercontent.com/u/429961?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [PRabahy](https://github.com/PRabahy)**
_Wednesday Dec 20, 2017 at 04:22 GMT_
_Originally opened as https://github.com/ACINQ/eclair/issues/302_

----

I couldn't find a way in the android app to request tBitcoin via lightning. If

[2018-04-13 09:42] dpad85 commented on #48
<a href="https://github.com/sstone"><img src="https://avatars3.githubusercontent.com/u/1573866?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [sstone](https://github.com/sstone)**
_Wednesday Dec 20, 2017 at 09:25 GMT_

----

This is by design, for now the mobile app can only pay on LN, which makes it safe to use even if the phone is offline most of the time. Receiving

[2018-04-13 09:42] dpad85 commented on #48
<a href="https://github.com/Sgt-Miller"><img src="https://avatars3.githubusercontent.com/u/17806210?v=4" align="left" width="48" height="48" hspace="10"></img></a> **Comment by [Sgt-Miller](https://github.com/Sgt-Miller)**
_Wednesday Dec 20, 2017 at 11:33 GMT_

----

For more info refer point 3 here :
https://github.com/lightningnetwork/lightning-rfc/blob/master/05-onchain.md

[2018-04-13 09:52] dpad85 commented on #45
Duplicate of #46, please follow up on this issue.

[2018-04-13 09:52] #45 closed, assigned to nobody

[2018-04-13 10:04] dpad85 commented on #37
Fixed by https://github.com/ACINQ/eclair-wallet/commit/5afc3dc257b74caaef3eed4a62fb6a4ffc87adfc.

[2018-04-13 10:04] #37 closed, assigned to nobody

[2018-04-13 11:07] dpad85 commented on #35
Hi, it looks like you tried to open a channel with a lightning node by scanning or pasting its URI. However the URI was not correctly formatted. This URI should be something like `03864ef025fde8fb587d989186ce6a4a186895ee44a926bfc370e2c366597a3f8f@34.239.230.56:9735`, you can find mainnet nodes on this explorer: https://lnmainnet.gaben.win/#

Eclair wallet is a is a real, self-contained lightning n

[2018-04-13 11:10] dpad85 commented on #8
Fixed by https://github.com/ACINQ/eclair-wallet/pull/11.

Closing this, thanks!

[2018-04-13 11:10] #8 closed, assigned to nobody

[2018-04-13 12:15] robtex opened #49 "show correct date of transaction history"
it would make more sense to show the correct date of a transaction under "transaction history" rather than when the wallet first saw it.
(noticed since i upgraded to new app, and it found all old transactions and listed them as they just happened)

[2018-04-13 12:19] robtex opened #50 "channel raw data copy button doesn't seem to work"

[2018-04-13 12:25] robtex opened #51 "8 decimals BTC precision"
when you use bitcoin units, it should be nice to be able to show 8 decimals.
i can only select 2 , 5 or "exact"
for instance, sometimes it only shows 7 which is a bit confusing.

[2018-04-13 13:32] DanielWeigl opened #52 "BIP39 Seed: verify checksum on restore"
While migrating from the old prod-wallet to the new one, I managed to make a typo while restoring the masterseed. The wallet did not show any error or warnings, but created a new empty wallet.

BIP39 specifies:

Also: was 24 words chosen deliberately? seems a bit overkill for a mobile wallet. Even "Trezor T" now defaults to 12 words ("[The Model T generates a unique, 12-word long recovery seed for

[2018-04-13 13:42] luojunquiaoll123 commented on #35
Thank you for your answer，I come from China，I don't know how to set up to connect nodes!I have established a channel, but no URI, I cannot send payment

[2018-04-13 14:32] Eylrid opened #53 "Feature request: max amount option when choosing new channel amount"
I put a few millibits into the wallet intending to put it all (less fees) into a channel, but there is no easy way to put the max amount into a channel.

Something like your "Empty wallet" option when sending an on chain transaction is what I'm looking for, but for opening a channel.

[2018-04-13 20:19] irekzielinski opened #54 "Feature request: show block count remaining when closing uncooperatively"
When channel is closed in uncooperative way - would be great to see how many blocks we still have to wait until funds are released.

[2018-04-14 03:54] charltonh opened #55 "Wallet could not find a path to the payee"
I've been playing with the eclair wallet (mainnet) and have opened a channel to bitrefill. I have tested payments to bitrefill and it works. However I cannot pay yalls.org even $0.01 because of a payment routing error. How can this be the case when they are directly connected with a relatively large capacity channel?

The error I'm getting specifically is: "The wallet could not find a path to the

[2018-04-14 03:58] kseiksa opened #56 "Incorrect fee display + excessively aggressive fee for uncooperative close"
I had ~3000 bits in this wallet. Two channels unexpectedly went into "CLOSING (uncooperative)", without any user action. I now have 2644 bits.

![image](https://user-images.githubusercontent.com/38368826/38763950-f4522ab6-3f95-11e8-8ee2-784f13614718.png)

I see that I have two incoming onchain transactions, from the channel closures - where I received much less than the balance I I thought I had i

[2018-04-14 04:25] kseiksa commented on #56
So each transaction paid ~168 bits in fees.

This is a poor user experience for several reasons:

1. the UI misreports this fee as "0 bits", which is confusing (and presumably a bug).

2. the promise of LN is that your funds are always safe, yet spending a significant fraction of a channel's balance, eg. ~20%, on mining fees *feels* like a loss of funds to the user. It feels like money just evapor

[2018-04-14 08:22] luojunquiaoll123 commented on #54
#17

[2018-04-14 09:30] irekzielinski commented on #47
got the same on one of my channels - I have not initiated the close. Funds were returned to BTC wallet after 144 confirmations. Not sure what's going on here. Would be great to have an access to a low level log for each channel directly from the app.

[2018-04-14 16:48] irekzielinski commented on #55
Also having quite a low success rate. Tried few channels including Blockstream, Federal Reserve.
Mostly doing tiny donations, yalls articles, etc. Often few payments will be successful, bit then all subsequent ones will either fail or be pending for a long time.
Would be great to have a low level log for each payment accessible from the app - so we can see what's going on.

[2018-04-15 14:14] Alex-CodeLab opened #57 "payment expiry is too close to the current blockheight"
I'm getting this error when making a payment  (to a CL node) :
       "payment expiry is too close to the current blockheight for safe handling by the relaying node."

What does it mean and what can be done about it?

[2018-04-16 01:13] AlbertPhan commented on #22
Balance shows correctly in Electrum.
I already reinstalled the eclair wallet 0.3.1 but it still displays only 1 mBTC when it should be 2. I still have the old eclair wallet as well.

[2018-04-16 11:36] sstone commented on #57
It means that the node that created the payment request set an expiry (in blocks) that is too close to the current block height. Processing it may result in an error that would cause the channel to close. There is not much you can do unless you control the receiving node,

[2018-04-16 12:07] sstone commented on #55
We are working on improving user feedback but often there is not much more that eclair can tell when there is a routing error. Still, when a payment fails you see the number of attempts your wallet made, and a list of all errors returned by the nodes that were unable to forward the payment.
It is usually a liquidity issue: most channels are tiny and get depleted very quickly. This will get better

[2018-04-16 13:08] Alex-CodeLab commented on #57
I do control the receiving node, and I've set the expiry date (in seconds) far in the future. But it still fails.
I removed/closed  my channels to that node and made new channels. issue seems to be gone now.
Could a node on the route cause this?

[2018-04-16 13:48] sstone commented on #57
There are 2 expiries in a [BOLT11](https://github.com/lightningnetwork/lightning-rfc/blob/master/11-payment-encoding.md) payment request:

- the request expiry, which is basically is a warning that says "you have X minutes to send your payment" and is mostly a UX field. This is what you can set from the command-line when you create a request
- the actual HTLC time-out, which is  a low-level LN par

[2018-04-16 16:02] Alex-CodeLab commented on #57
thanks!
I had to set `--cltv-delta` to 10 make it work

[2018-04-16 16:02] #57 closed, assigned to sstone

[2018-04-16 16:51] charltonh commented on #55
I wish this was the case, as there is only one attempt made and no additional info, only "The wallet could not find a path to the payee".  No node info or which node couldn't forward the payment either.  It would be nice if it would mention that and if it could find a route maybe indicate that the funds have been depleted along that route or some other piece of useful information.

In this case I'

[2018-04-16 17:02] irekzielinski commented on #55
I had much better success with small payments (below 1USD) when connecting to ACINQ node directly. When using Blockstream node or Federal Reserve - mostly failures. Maybe they run some older software .... ?

[2018-04-17 09:31] sstone commented on #55
@charltonh FWIW I have tried the same setup (one channel to bitrefill) and can pay yalls without problems. How many channels do you see in the network view (click on the menu button in the top right corner and select `Network Overview` and check the `Known channels` field) ?

[2018-04-17 10:51] sstone commented on #55
@irekzielinski not sure about Federal Reserve but Blockstream's node should be up to date

[2018-04-17 10:54] sstone commented on #55
@charltonh I forgot to mention that #recksplorer will show you channel capacities but not how it is split between funder/fundee so if a lot a payments went through, all in the same direction, then the max amount you can pay in that direction becomes limited even if the channel's capacity is fairly high (I don't think it's your pb though)

[2018-04-17 11:20] Perlover commented on #50
+1
No copy after click by this button

[2018-04-17 11:47] Perlover commented on #17
Can confirm Method #1 of this tutorial works :)

[2018-04-17 16:22] bitcoinuser opened #58 "Tried to pay on https://lightningshop.eu/ tip box. Eclair closed automatically."
Hi,

I tried to pay on https://lightningshop.eu/ tip box. Eclair closed automatically.
I opened Eclair again and now the payment is pending.

![photo5093636672968566748](https://user-images.githubusercontent.com/1178856/38883096-56509dca-4242-11e8-8a82-01265ed9348e.jpg)

[2018-04-17 16:23] bitcoinuser commented on #58
The channel I have opened is with eclair node.

[2018-04-17 16:56] bitcoinuser commented on #58
How long this payment will be pending? Will I receive the money back?

[2018-04-17 17:42] dpad85 commented on #58
What's your node id? (`Menu > Network Overview`)

[2018-04-17 17:48] bitcoinuser commented on #58
![photo5093636672968566751](https://user-images.githubusercontent.com/1178856/38887117-4fb7119a-424e-11e8-97f4-b3e59bf0fe85.jpg)

[2018-04-17 18:20] charltonh commented on #55
Just tried making a payment again to yalls at 039cc950286a8fa99218283d1adc2456e0d5e81be558da77dd6e85ba9a1fff5ad3@34.200.252.146 with another failure (same message).  The number of known channels I have right now is 5456.

[2018-04-17 19:45] charltonh commented on #55
I opened a channel to an ACINQ node and am still having the same problem.  I now have 3 lightning channels open, but it doesn't even seem to be trying to find a route.  It instantly comes back with payment failed:
#1 of 1: LocalFailure
Cause: The wallet could not find a path to the payee
Origin:  Your node

I also tried uncapping the 3% fee option.  I have been able to pay other things before with

[2018-04-18 04:50] parmax commented on #57
I nad to set --cltv-delta 10 --cltv-final 10 make it work

[2018-04-18 17:35] bitcoinuser commented on #58
Updating:

1- Yesterday i tried to pay https://lightningshop.eu/ tip box three times, they failed.
2- Today I tried to pay again and now worked.
3- The one of this issue, is still pending.

Will stay pending forever?

Thanks.

[2018-04-19 00:16] bitcoinuser opened #59 "Tried to pay: https://ludvigart.com/product/test/"
Tried to pay: https://ludvigart.com/product/test/

![photo5098451524580911183](https://user-images.githubusercontent.com/1178856/38964561-c44ff58a-434d-11e8-80f4-4c8456e41048.jpg)

[2018-04-19 02:02] redstorm1 opened #60 "Channel closes automatically - multiple channels not supported"
With no channels open. trying to open a channel to my clightning node results in the channel getting closed with the error multiple channels not supported.

[2018-04-19 08:30] sstone commented on #60
This is an issue with c-lightning which does not currently support multiple channels (see https://github.com/ElementsProject/lightning/issues/1389)

[2018-04-19 08:30] #60 closed, assigned to nobody

[2018-04-19 11:39] sstone commented on #59
See our [FAQ](https://github.com/ACINQ/eclair-wallet/wiki/FAQ#why-do-some-of-my-payments-fail-with-an-expiry-too-big-error-). node 033ce... is asking for a huge 1000 blocks cltv delay which makes it really hard to route through it. In the short term there is not much you can do now except open a direct channel to the node that you want to pay.

[2018-04-19 11:53] bitcoinuser commented on #59
Ok.

[2018-04-19 11:53] #59 closed, assigned to nobody

[2018-04-19 16:13] bitcoinuser opened #61 "Feature request: allow to add funds directly to existing channels using a third party wallet."
Feature request: allow to add more funds directly to existing channels using a third party wallet.

[2018-04-20 07:22] irekzielinski commented on #55
Yalls does not work me anymore as well. Maybe it's due to them moving the node:
https://mainnet.yalls.org/articles/97d67df1-d721-417d-a6c0-11d793739be9:0965AC5E-56CD-4870-9041-E69616660E6F/3120cef6-ff89-48d7-9845-535b513a5a3c

What never worked for me is sending tips to: http://reckless.lnroute.com/
I have a node with ACINQ and Blockstream.

[2018-04-20 07:48] dannybabbev commented on #58
If it is stuck on pending then it is probably a communication problem.
I have had the same issues in my environment and in many cases it turns out that it is a network problem.
Check your internet connection or disconnect from your WiFi and try to make a new payment again.

[2018-04-20 08:40] pm47 commented on #55
@charltonh are you sure you were using the mainnet version of yalls? Url is https://mainnet.yalls.org

@irekzielinski same here, I think they may be experiencing issues. I just created a channel ACINQ --- lnroute, was probably a liquidity issue

[2018-04-20 10:53] sstone commented on #61
Changing a channel's capacity is not possible with the current specs, but it has been discussed and may be part of the next version of the specs (but there are no concrete proposals on how to implement it yet).

[2018-04-20 10:53] #61 closed, assigned to nobody

[2018-04-20 16:39] irekzielinski commented on #55
@pm47 - I reached owner of lnroute on twitter and he claims that channel is well funded (and has multiple paths): https://twitter.com/benvh/status/987303846170058752

mainnet yalls also fails - looks like some other issue in play here, possibly not the liquidity.

[2018-04-20 16:47] pm47 commented on #55
@irekzielinski  I'm able to tip him from eclair wallet through ACINQ node

regarding yalls, indeed it is not related to liquidity, see: https://github.com/lightningnetwork/lnd/issues/1082#issuecomment-383154618

[2018-04-20 17:01] charltonh commented on #55
@pm47 I'm embarrassed to say that immediate failures with "The wallet could not find a path to the payee" was indeed to yalls.org articles and not mainnet.  I'm still unable to pay mainnet articles but the result is different (forever in 'PENDING' state, even though I have three prominent channels open).  As I mentioned, I was able to pay yalls before on mainnet but it was under a different sectio

[2018-04-20 20:52] charltonh commented on #55
Just checked again and these txns are still in 'PENDING' state.  There should be the ability to cancel or fail after XX number of seconds, because at the POS by this time the client would have already used another form of payment.

[2018-04-21 10:51] irekzielinski commented on #55
@charltonh the same: for some old payments to yalls those are in PENDING state.
Tried today:
- yalls mainet : SUCCESS
- coinpanic comunity jar: SUCCESS
- donate to lnroute.com: SUCCESS
- donate to rompert.com/recksplorer : SUCCESS

Few minutes later tried to do another coinpanic donation and this failed.
Not sure what changed - but looks better!

[2018-04-21 13:48] pm47 commented on #55
@charltonh @irekzielinski unfortunately that's not something that can simply be "fixed" in eclair-wallet because of the way lightning works: only the last peer in the route (not necessarily the destination, but one that hasn't yet forwarded the payment to another peer) can fail-fast an htlc. Otherwise we have to wait for a timeout, and there is not much else to do.

Keep in mind that when using ec

[2018-04-21 13:48] #55 closed, assigned to sstone

[2018-04-21 18:17] charltonh commented on #55
Tried it today and it WORKS!!

[2018-04-23 22:30] charltonh opened #63 "Lacking information on channels and payments"
Here are some minor informational feature requests that I think would be very helpful:

On the open channels list, it is hard to know which channel is which because only the node public key is available.  If possible, also include the node alias or description.

Also, it would be very helpful to know which channel a payment routed through.  The whole route or a way to find it would be even more he

[2018-04-25 00:05] nadam commented on #17
Doesn't work for me. I have two channels stuck in CLOSING. I can see "Eclair Wallet recovery DNS Configuration OK" in the browser, but nothing happens in the wallet. I have tried many times, restarted, rebooted, etc.

[2018-04-25 14:55] benma opened #64 "This is not a valid node URI"
Hi

I can't scan/paste any node URI to open a payment channel, so the only channel I could open was to ACINQ.

The error I get everytime is: `This is not a valid node URI. Expected format is nodeId@host:port`.

Trying to scan URIs like `03aa6a60bc8570d057de350cd10dc9d988f14321dd3a225e81d9ca01b51674aae7@176.9.28.202:9735`.

Do you know what could be wrong?

Please let me know what info I need to pr

[2018-04-25 15:04] sstone commented on #64
How to you create the QR code for your URI ? I went to https://www.qr-code-generator.com, pasted 03aa6a60bc8570d057de350cd10dc9d988f14321dd3a225e81d9ca01b51674aae7@176.9.28.202:9735, chose `Text`, generated a QR code which I could scan from my phone with eclair. I did the same with your payment request and it worked too.
Can you try this ?

[2018-04-26 11:11] suvayu opened #65 "Cannot open a channel to any non-acinq nodes on testnet"
No matter what I try, I cannot open a connection to any nodes other than the ACINQ node.  It fails with "failed to open channel:connection failed ...".  I'm getting the nodes from the acinq explorer.

While I could pay at Starblocks, I haven't been able to transfer funds to an HTLC.me wallet, could that be related as well?

I'm on Android 8

[2018-04-26 13:59] sstone commented on #65
I just tried with yalls.org and it worked, can you try too ?
Many people have opened nodes on testnet that are now dead, and many more were never reachable in the first place, and our explorer does not check that nodes are reachable, so unfortunately many of the nodes on testnet are not usable.

[2018-04-26 20:10] suvayu commented on #65
Thanks, connecting to yalls.org worked.  However I still haven't managed to pay to anything but Starblocks.  I'll open a separate issue for that.

[2018-04-26 20:55] suvayu opened #66 "Cannot pay to anything other than Starblocks"
I have tried paying to a HTLC.me wallet, a Bitcoin + Lightning (lnwallet) wallet, and to yalls.org, all of them fail like this: Remote Failure, payment expiry is too close to the current block height for safe handling by the relaying node.

[2018-04-26 21:18] suvayu commented on #66
Here's a screen shot after the failure:

![screenshot_20180427-022219](https://user-images.githubusercontent.com/229540/39332479-14f22c02-4997-11e8-9e66-c62de40a76f1.jpg)

[2018-04-27 03:02] JasonPoole commented on #17
Worked for me as well. Thank you

[2018-04-27 09:45] sstone commented on #17
@nadam are you still stuck ? If so can you please contact us on [gitter](https://gitter.im/ACINQ/eclair) ?

[2018-04-29 09:33] irekzielinski opened #67 "Payment fails on too high routing fees - even when those are uncapped in Eclair app"
I have a channel to ACINQ.
Trying to pay: http://reckless.lnroute.com/

This used to work great in the past, but in last few days there seems to be a regression.
Payment fails. One of the errors is "fee was below the minimum requested by the channel"  - but I disabled fee caps in the app.

[2018-04-29 09:36] irekzielinski commented on #67
![screenshot_20180429-103137](https://user-images.githubusercontent.com/19826327/39405212-1a1cbc70-4b99-11e8-85df-7fb68529d979.png)
![screenshot_20180429-103102](https://user-images.githubusercontent.com/19826327/39405214-1e3e8e28-4b99-11e8-8150-4de647fb44c0.png)

[2018-04-29 17:15] feriancek opened #68 "Some funds not available"
Funded wallet with 2 transactions of the same value confirmed in 2 different blocks, when the wallet opens It displays the true balance for a brief moment, before changing to display the following ignoring one of the two transactions:

![image](https://user-images.githubusercontent.com/5081442/39409051-751c7b98-4bb6-11e8-8930-041823eea83f.png)

Attempting to fund a channel returned not enough fund

[2018-04-29 17:48] pm47 commented on #68
Were two incoming txs sent to the same address? Can you paste the full txids here?

[2018-04-29 18:04] pm47 commented on #67
Remember that you are testing the whole network, which is dynamic.

The error you are encountering isn't related to eclair's uncap fee parameter: here remote node `03a9d` indicates that the fee you were giving to this particular node wasn't enough. In that case that node should attach the required fee to its error message, but since that was already the 10th try, eclair failed the payment.

All ot

[2018-04-29 18:29] nadam commented on #17
Oh, now suddenly it worked. Not sure if I did anything myself or if it was something else.

[2018-04-29 20:12] feriancek commented on #68
Unique receiving addresses, separate blocks.
`639a347a4a7d68c0ba3dcc618ef2redacted`
`1d7e85757d8a517d243f547ab531redacted`

[2018-04-29 20:26] irekzielinski commented on #67
Sure - no complains, works amazingly well for beta!

Thanks for the clarification. What about attempt no: 5?

[2018-04-29 20:31] irekzielinski commented on #36
Ideally - app would say something like:
"Found a path to pay an invoice but it requires high fee of: xxx sat which is YYY% of the the invoice value.
Do you want to proceed with the payment?"

I know that this introduces a race condition (user clicking OK, but fees changing) - but might be good enough.

[2018-04-29 22:02] feriancek commented on #68
Issue seems related to #22

[2018-04-30 13:03] nadam commented on #17
Same problem now with the new version (0.3.1).

[2018-04-30 13:08] pm47 commented on #17
@nadam can you paste the funding txid of the channel?

[2018-04-30 13:19] nadam commented on #17
b275bd5bb77305a05b9420797e790295e06ee15850e945f0c5007a03f6ae87fc

https://api.blockcypher.com/v1/btc/main/txs/b275bd5bb77305a05b9420797e790295e06ee15850e945f0c5007a03f6ae87fc

[2018-04-30 13:22] pm47 commented on #17
@nadam I'm guessing this is a 500000 channel? If so, closing tx only has 13 confirmations, the delay for refunds when doing unilateral close is typically 144 blocks

[2018-04-30 15:25] pm47 commented on #68
Can I ask what wallet you used to send those txes?

[2018-04-30 20:32] feriancek commented on #68
[Samourai](https://github.com/Samourai-Wallet/samourai-wallet-android)

Spent using [Bip126](https://github.com/bitcoin/bips/blob/master/bip-0126.mediawiki) enabled

[2018-05-01 12:54] nadam commented on #17
Right, it got closed now. Users are going to be confused about situations like this unless there are clear messages describing what's going on.

[2018-05-01 17:43] irekzielinski commented on #17
@nadam - this is already covered by this enhancement request: #54

[2018-05-01 19:53] benma commented on #64
Well, I'll be damned. Using the qr code generator you linked works perfectly! I was using `qtqr` before (also text mode), and both the eclair app to scan it as well as using another Android qr code scanner so I can copy and then paste it into eclair resulted in the same error. I saw no difference or encoding/decoding error in a visual inspection...

Anyway, thanks!

[2018-05-01 19:53] #64 closed, assigned to nobody

[2018-05-02 03:00] nadam commented on #17
Great, in addition to that, it would be good to have a user friendly explanation of why the channel was forcibly closed. Or even better, leave that decision to the user. The app shouldn't close the channel unless the user (or the server) wants to close it.

[2018-05-04 16:58] #54 closed, assigned to nobody

[2018-05-04 18:13] prusnak opened #70 "[Feature] PIN dialog should have haptic feedback"
Normal keyboard uses haptic feedback (very short vibration) to signalize a keypress. PIN dialog in the app should use the same if possible because it is very unnatural when it's not present.

[2018-05-05 03:35] sjohnsson commented on #68
![screenshot_20180504-233011](https://user-images.githubusercontent.com/38996935/39659317-bda47802-4ff3-11e8-831b-aa9d31ad4359.png)

Same issue. Funds sent from ledger wallet.

[2018-05-05 08:15] ghost opened #71 "Support for global FIAT currencies"
The wallet features EUR and USD, but it should support all global fiat currencies 🌎

Some providers:
* Bitpay
https://bitpay.com/rates
* Coindesk
https://api.coindesk.com/v1/bpi/currentprice/JPY, https://api.coindesk.com/v1/bpi/currentprice/BRL

[2018-05-05 13:56] Sjors opened #72 "Testnet APK"
Can you add the APK to testnet release tags? I'm trying not to use the Play Store :-)

[2018-05-07 16:32] pm47 commented on #72
Hi, @dpad85 is on vacation currently but he'll do that when he gets back

[2018-05-07 18:23] ghost opened #73 "Dyndns lightning node appears offline in eclair (android)"
My lighting node (LND) is behind a dyndns with changing IP addresses. I connected to the node by entering the dyndns hostname. After a day, as my IP address changed it only shows up as offline. Does the eclair wallet (android) only save IPs and tries to reconnect? It should resolve the dyndns hostname to the current IP.

[2018-05-08 06:57] theoryspace opened #74 "UnreadableRemoteFailure"
Setup on Desktop:
- Running Bitcore Core 0.16.0 on mainnet on desktop
- Running Eclair v0.2-beta2 on same desktop controlling bitcoind with JSON-RPC
- Eclair successfully funded 4 channels connected to widely connected nodes with 0.001 BTC each. All states are NORMAL.
- Lightning Port 9735 is open on my machine
- My lightning node shows up on recksplorer (https://lnmainnet.gaben.win/) connected to

[2018-05-08 07:03] theoryspace commented on #74
- Forgot to mention that my desktop Eclair client is also able to send out lightning payments. I successfully tipped recksplorer with it. So it has no problem sending out payments. I'm just not sure if it has trouble receiving payments or the Eclair Wallet on Android has trouble reaching my desktop node.

[2018-05-08 09:37] CaveRock opened #75 "Issue with cracked screen stopping from putting in the pin"
Wallet is fine and functional, however after dropping my phone, a section of the screen no longer recognises any touches, unfortunately the section happens to cover one of the numbers i need to enter my pin, the number 8.

I know this is an edge case, and the funds I have in the wallet are small enough that I am not concerned with losing them, but it shows up a scenario where the app state is fine

[2018-05-08 13:20] robtex opened #76 "leaking private channel info"
i strongly suspect eclair is sending channel updates for private channels.
not the announcements, only updates.
that might be a minor privacy issue. please have a look.
too lazy to dig up evidence before you have a quick look first
cheers!

[2018-05-08 13:31] pm47 commented on #76
Yes eclair does send `channel_update`s for private channels, but only to the node it has open the private channel with. This is the correct behavior, see BOLT 7:

Those `channel_update`s can't be publicly broadcast, because, as you noticed, they are not backed by a `channel_announcement`:

[2018-05-08 14:52] molxyz commented on #75
@CaveRock  Do you have the word seed?  Install the app on another phone, put in your seed and it will restore the wallet with the onchain fund.  Currently it can't restore your channels but can restore the wallet.

[2018-05-08 14:54] robtex commented on #76
ok. i'm seeing this from a node that doesn't have any channels, private or otherwise, so some implementation is relaying the channel_updates anyhows.
here are a few channels i believe should be private and not gossiped, hope someone reading this recognizes them. otherwise i'll go hunting down exactly which nodes send them
573399711980126208/521504:739:0
573393115016200192/521498:2354:0
57339311501

[2018-05-08 14:57] CaveRock commented on #75
@molxyz yup, I've got the seed but most of the funds are in the channel. Thought it might be the case at this stage that the channel funds might be lost, it's a small amount so no worries on that front.

[2018-05-08 20:56] theoryspace commented on #74
Nevermind, I realized the channels just do not have enough funds. I changed the amount to 0.00001 BTC and it went through immediately.

Perhaps we need better error messages.

[2018-05-08 20:56] #74 closed, assigned to nobody

[2018-05-09 06:17] #75 closed, assigned to nobody

[2018-05-09 09:40] pm47 commented on #76
Just to be clear: you have a node A that doesn't have any channels, connected to an eclair node B, and A receives these `channel_update`s from B?

[2018-05-09 12:04] robtex commented on #76
hi. i tracked it down to c-lightning
eclair wallet is connected to node A via private channel
node A gossips message 258 (both flags) about the channel to peer B (that doesn't have any channels at all)
node A is a c-lightning
added an issue on clightning https://github.com/ElementsProject/lightning/issues/1485
think you can close this here. i'll keep an eye on it globally

[2018-05-09 12:16] pm47 commented on #76
Ok closing this, thanks!

[2018-05-09 12:16] #76 closed, assigned to nobody

[2018-05-09 20:06] masrlinu commented on #75
In android you can split the screen, so on top you have the eclair app and on the bottom you have another app. Like this the number 8 is on another position on your device. You can even move the eclair app more to the top and make it smaller, if you still cannot press the number.

[2018-05-10 06:17] CaveRock commented on #75
@masrlinu great suggestion! I wasn't able to do exactly as you suggest as the phone is an older xiomi and their additions to the OS seem to have hidden any options for split screen, however I was able to use One Handed mode in combo with full screen (one handed mode obscured a different key I needed in the pin) and was able to get the pin submitted.

Thanks for the out the box thinking!

[2018-05-14 15:49] #52 closed, assigned to sstone

[2018-05-15 05:50] charltonh commented on #73
Also running a lightningd node on a dynamic IP.  The eclair wallet needs to be able to find it again because I have a channel open with it, but it cannot.  It remains "OFFLINE".

I've decided to open a digital ocean droplet with a static IP and reroute my traffic to it just so that I can have a static IP to run my lightning node on.  However, this is definitely a bug/limitation with the eclair wal

[2018-05-18 13:44] sangaman opened #77 "Attempt unlock of wallet once passsword is entered"
This is minor, but it's a feature I wish for every time I open the testnet wallet. Once all 6 digits are entered, it would be very nice if the wallet unlocked automatically if the password is correct, instead of having to go and manually press the checkmark. In fact, I figure you could get rid of the checkmark and simply attempt to unlock the wallet each time the sixth digit is entered or reentere

[2018-05-24 01:54] nilskp commented on #48
I would imagine most people have their phones on most of the time. Wouldn't it make sense to have built-in monitoring?

[2018-05-24 16:27] Perlover commented on #47
I have same problem between Eclair wallet 0.3.1 and last versions of lnd
I described my problem there:
https://github.com/lightningnetwork/lnd/issues/1161#issuecomment-391771169
May be it will help ...

[2018-05-24 16:28] Perlover commented on #41
I cannot pay too
But i think that Yalls has testnet node DB on mainnet node...

[2018-05-25 09:18] sstone commented on #41
I just tried with https://mainnet.yalls.org from eclair-wallet 0.3.1, without a direct channel to the yalls node (I just have channels to our ACINQ node), and it worked.

There are 2 yalls sites (one on testnet, one on mainnet), and eclair can only pay payment requests that are on the same chain. You can tell by the prefix of the payment request:

- lnbc for mainnet
- lntb for testnet

The error t

[2018-05-25 09:29] sstone opened #78 "Improve error message displayed when trying to pay a testnet payment request on mainnet"
The message that we show is not specific enough, we should tell users that they're trying to pay a testnet/mainnet payment request from a mainnet/testnet LN wallet.

Related to #41

[2018-05-25 09:34] sstone commented on #22
Closed because it is a duplicate of #68, please follow progress there instead

[2018-05-25 09:34] #22 closed, assigned to nobody

[2018-05-25 09:38] sstone commented on #68
We have identified and fixed this issue, the fix will be included in the upcoming release. Funds are not lost, it is a problem with how we compute your balance.

[2018-05-25 16:45] feriancek commented on #68
Commit #?

[2018-05-26 12:43] bitcoinuser opened #79 "Tried to pay on lightning and acinq channel was closed uncooperative"
See:

![photo4920351325443696659](https://user-images.githubusercontent.com/1178856/40576256-2ad77588-60c9-11e8-9e67-95e2b8a751a2.jpg)

[2018-05-26 14:19] bitcoinuser commented on #79
Now I opened a channel with rompert, tried to pay the same service,the transaction is pending and seconds after the channel was closed uncooperative too.

[2018-05-26 22:40] bitcoinuser commented on #79
The rompert channel it's closing uncooperative. But now this channel never close.
How to recover the money?

![photo4922603125257381862](https://user-images.githubusercontent.com/1178856/40580775-80fcf6ec-611c-11e8-8d99-11ecd4f2d563.jpg)

![photo4922603125257381863](https://user-images.githubusercontent.com/1178856/40580776-8615613c-611c-11e8-82c0-f86d010b91b4.jpg)

[2018-05-26 22:49] bitcoinuser commented on #79
I imported my eclair wallet seed on electrum wallet and the balance is 0

![captura de tela de 2018-05-26 19-47-57](https://user-images.githubusercontent.com/1178856/40580831-e0fcc44a-611d-11e8-9865-4fe09fa156de.png)

[2018-05-27 09:23] robtex commented on #79
for your pleasure, attached log about that channel from my side (rompert.com)
http://paste.ubuntu.com/p/xD7Tm6fpbR/

[2018-05-27 10:26] sstone commented on #79
Which service where you trying to pay ? Did you see any error message ?
It looks like your eclair wallet closed the channel and published its commit tx, so you need to wait (about 5 hours from now) until it can be spent and the funds returned to the bitcoin wallet that is embedded in eclair. When it happens the electrum wallet that you've initialized with the same seed will be updated too.

[2018-05-27 13:32] bitcoinuser commented on #79
Hi @sstone, I was trying to pay for a book on the store 9bravos.com.br. The store is from this guy on twitter: https://twitter.com/ricsodre
The 9bravos node is: 0235591b82c3856e6ccfc10b70b7ccdce45c30994500c848fe1c81d8f6c3db604a@177.159.51.156:9735

I didn't see any error. I just tried to pay the invoice and seconds after the channel was closed uncooperative.

I will wait the 5 hours to see if the

[2018-05-27 13:36] bitcoinuser commented on #79
Do you think we have a bug here? I think strange because this (uncooperative close channel) happened with acinq and rompert nodes.

[2018-05-27 16:24] bitcoinuser commented on #79
It looks like your eclair wallet closed the channel and published its commit tx, so you need to wait (about 5 hours from now) until it can be spent and the funds returned to the bitcoin wallet that is embedded in eclair. When it happens the electrum wallet that you've initialized with the same seed will be updated too.

I still don't see the funds on eclair or electrum.

[2018-05-27 19:41] sstone commented on #68
@feriancek commit was https://github.com/ACINQ/eclair/commit/75437cbe811a95a6cd1ca6be7ec99d087e4edb47 which has not been merged in our android branch yet, but will be very soon

[2018-05-27 19:45] robtex commented on #79
for whatever it's worth, i've tried myself using my eclair to open a channel to my node. twice the past 24 hours. both times it ended up in uncooperative close before i got to use it.
feel free to try it yourselves if it helps.
02ad6fb8d693dc1e4569bcedefadf5f72a931ae027dc0f0c544b34c1c6f3b9a02b@167.99.50.31:9735 (rompert.com)
it currently has 36 inbound private channels which i presume are eclairs,

[2018-05-28 01:09] n4spd opened #80 "Force close channel now stuck in CLOSING state after 1 day"
I opened channel then 20 minutes later, I force closed it.
It's been over 1 day and status is stuck on CLOSING

channel id
e3033b4626c0a18c86fa1efd766116c86e693b996750475168d7b1dcd99731fb

funding tx
fa3197d9dcb1d76851475067993b696ec8166176fd1efa868ca1c026463b03e3

using Eclair 0.2-beta3

the follow log entries have the channel id in them:

2018-05-26 11:23:32,938 INFO  fr.acinq.eclair.io.Peer akk

[2018-05-28 08:47] sstone commented on #80
Duplicate of https://github.com/ACINQ/eclair/issues/602, please monitor progress there (there is a solution to recompute a valid transaction)

[2018-05-28 08:47] #80 closed, assigned to nobody

[2018-05-28 09:43] sstone commented on #79
@robtex I cannot open a channel to 02ad6fb8d693dc1e4569bcedefadf5f72a931ae027dc0f0c544b34c1c6f3b9a02b, seems to be offline ?

[2018-05-28 12:16] bitcoinuser commented on #79
Hi, today the channel was closed and I received the funds.
Now I just would like to understand why the channels was closed. Can this happen again?

[2018-05-28 12:39] pldelattre commented on #79
Same issue for me... I was doing a payment from a eclair android wallet (v3.1 from playstore) to a lnd node I control on a raspberry pi (direct channel between the two). It used to work well but eclair has decided to close the channel (CLOSING (uncooperative)). I don't understand why...

[2018-05-28 13:02] robtex commented on #79
@sstone thanks for trying. unfortunately my lnd node has trouble starting up today at all.
i opened a channel to a client of mine instead. it also force closed. that lnd is still up, try 03295d2e292565743a40bd44da227a820f8730877bc3dfadebade8785bcf355258@159.203.122.47:9735
it has very few channels so it should be easier to find stuff in the log there, and i have access to that machine.

[2018-05-28 14:06] sstone commented on #79
@pldelattre what has changed since it used to work ? It there anything relevant in your lnd logs ?

[2018-05-28 15:16] sstone commented on #79
I cannot reproduce the pb locally (on regtest) with eclair and lnd.
 I've opened a channel with @robtex's node (03295d2e292565743a40bd44da227a820f8730877bc3dfadebade8785bcf355258) and I've been able to pay yalls.
EDIT: sorry I had another channel, payment went through it. I cannot pay yalls from 03295... (unknown next peer) but channel is still open. And I can pay yalls through our ACINQ node whic

[2018-05-28 15:41] robtex commented on #79
@sstone you forwarded via that that node?
03295d2e292565743a40bd44da227a820f8730877bc3dfadebade8785bcf355258 claims that it has NOT forwarded any transactions at all the past 24 hours and it does not have any private channels.
i can try looking for your node id or channel id if you like.
the only recent channel i see is a public one, but is that from an eclair wallet?
i thought those were always p

[2018-05-28 15:44] sstone commented on #79
@robtex no it went through another channel (see edit above). I'm testing from our server node, not the android app (they share the same code). Do you have a route to yalls on 03295 ?

[2018-05-28 15:53] robtex commented on #79
yes, i'm setting up a direct channel to yalls now to make sure. stay tuned

[2018-05-28 16:36] robtex commented on #79
ok direct channel to yalls established and 6 confirmations and announced.
https://www.robtex.com/lightning/channel/577056687635365888

[2018-05-28 17:25] robtex commented on #79
@sstone just fyi, i set up a new channel on my eclair to the 03295 node and successfully paid yalls thru that channel. (eclair also has a channel with ACINQ)
all looking good today, but this is the fourth channel i set up from eclair to 03295. the other three got uncooperatively closed.

checked the logs for a previous attempt. hope it helps
[code]

[2018-05-29 09:40] sstone commented on #79
@robtex I can also pay yalls through 03295d2e292565743a40bd44da227a820f8730877bc3dfadebade8785bcf355258

The error you posted seems to be a funding error on lnd's side, as if lnd was funding the channel (and not the other way round)

[2018-05-30 17:48] #41 closed, assigned to nobody

[2018-05-30 17:48] #71 closed, assigned to nobody

[2018-05-30 18:15] ghost commented on #71
Cool, the wallet has now 22 currencies! It certainly covers the most important ones, and it covers all my uses, but I'm wondering why you didn't pick https://bitpay.com/rates since it gives more than 100 currencies in a single call. Licensing issues I guess?

[2018-05-31 09:32] dpad85 commented on #71
That's for technical reasons. Bitpay API returns an array which you have to parse. I prefer using the blockchain.info API where each currency is an object that you can retrieve with its code. It makes for a cleaner code.

[2018-05-31 10:46] #68 closed, assigned to nobody

[2018-05-31 11:01] #51 closed, assigned to nobody

[2018-05-31 12:16] #50 closed, assigned to nobody

[2018-06-01 10:22] #70 closed, assigned to nobody

[2018-06-01 10:22] #77 closed, assigned to nobody

[2018-06-03 09:58] novomirskiy85 opened #81 "Bitcoins lost in the channel"
Hello, this is a problem...

I put on my ACINQ btc-address 0.05 btc(16 of April), opened LIGHTNING channel with 0.049 btc, used it with pleasure until  27 of May becose have 2 or more failed lightning-payment via BITREFILL service after that lightning channel closed automatical and non-spent bitcoins returned back to my blockchain address 0.03233(247 USD). i opened the new lightning channel with 0

[2018-06-03 16:42] bitcoinuser opened #82 "Channel with Bitrefill goes offline and online all the time."
Channel with Bitrefill goes offline and online all the time.

See the video uploaded.
[2018_06_03_13_29_07.mp4.zip](https://github.com/ACINQ/eclair-wallet/files/2066149/2018_06_03_13_29_07.mp4.zip)

[2018-06-03 20:24] sstone commented on #82
On your video it's offline all the time ?
I have a channel with bitrefill, it's online and has been steady for some time.

[2018-06-03 22:25] bitcoinuser commented on #82
It's not online all time. In seconds change from offline to online then offline again....

[2018-06-04 04:34] juscamarena commented on #82
I'm seeing this two on eclair on android with my phone, flickering online and offline.

[2018-06-05 11:46] sstone commented on #82
Which version of `lnd` are you using ?
EDIT: is there anything relevant in your lnd logs ?

[2018-06-05 13:36] dpad85 commented on #81
Hi, what version of the wallet are you using? You can see that in the Menu > About page

[2018-06-05 13:37] dpad85 commented on #78
Closed with fc3ade0.

[2018-06-05 13:37] #78 closed, assigned to nobody

[2018-06-05 15:42] bitcoinuser commented on #82
Now everything is working ok.

[2018-06-05 17:40] bitcoinuser commented on #82
Reproducing again.

[2018-06-05 18:39] vegardengen commented on #82
THere's a problem around the data loss protection stuff. I haven't research all this fully, yet, but according to my understanding, here's what happens:

- LND signals for data loss protection.
- Eclair thinks "cool!" and goes on to use some compression stuff that is not in the spec yet...
- LND says "wtf is this!" and disconnects.

[2018-06-05 20:53] sstone commented on #82
Yes, we're aware of it. What happened is that lnd on master (very recently, after their last release) added an experimental LN feature (fast routing table sync) and they have it activated by default. Their implementation is not fully compatible with ours (and with the specs imho but this feature is in a PR that has not been merged so implementation details are still being discussed).
It is very li

[2018-06-06 05:43] githorray commented on #73
lnd now also supports tor and advertises .onion uris.

Using eclair behind Orbot in VPN mode, eclair can create a channel with lnd using the .onion url and can send payments. However after restart, eclair will not connect back to lnd. If you attempt to open a second channel to the same lnd node, eclair seems to suddenly re-discover the new address information of the lnd node and the previously dis

[2018-06-06 11:59] #13 closed, assigned to nobody

[2018-06-06 15:38] bitcoinuser commented on #82
Now it's all time online, but payments pending. https://mainnet.yalls.org always worked but now everytime I try goes pending.

![photo4954486926648387536](https://user-images.githubusercontent.com/1178856/41049126-8f19b54a-6986-11e8-9659-29deabb7acd7.jpg)

[2018-06-06 18:30] juscamarena commented on #82
Can you try again? Disabled some stuff on my end manually.

[2018-06-06 20:11] novomirskiy85 commented on #81
0.3.0 version

[2018-06-06 20:11] bitcoinuser commented on #82
Same problem.

[2018-06-07 00:17] jaycrypt0 commented on #82
I am having issues paying @bitrefill still using ACINQ node.

[2018-06-07 08:13] dpad85 commented on #81
The 0.3.0 version has a bug with uncooperative closing where funds are not recovered (this is your situation). This was reported in https://github.com/ACINQ/eclair-wallet/issues/17, so I'll close this issue as a duplicate.

There is a step-by-step tutorial that will allow you to recover funds that are stuck: https://github.com/ACINQ/eclair-wallet/wiki/Recover-funds-stuck-in-CLOSING-state-from-Ecla

[2018-06-07 08:13] #81 closed, assigned to nobody

[2018-06-07 09:17] novomirskiy85 commented on #81
done it! thank you very much ;))

[2018-06-07 17:39] akumaigorodski opened #83 "QR support for uppercase on-chain requests"
Requests of form "BITCOIN:TB1QYPNULMUGTJRLZGVKMVYXH63LXAPHHJRGLES2SM" are not recognized by QR scanner currently, but they are valid for segwit addresses.

[2018-06-08 19:31] irekzielinski commented on #82
Tried to open a channel with bitrefill today, with the latest version of Eclair wallet from Play store.
Was togging between offline and waiting for funding. Soon after it went into uncooperative close.

[Movie of the toggling](https://www.dropbox.com/s/2sbgan8s6gpgo9t/20180608_202020.mp4?dl=0)
[Final state screen-shot](https://www.dropbox.com/s/qtvktpyybqx950e/ln-closethumbnail.jpeg?dl=0)

[2018-06-11 02:13] mstrokin opened #84 "Payment failed with "Channel xxx is currently unavailable""
Trying to make a LN payment to node where recipient node and eclair wallet are directly connected to ACINQ. Every payment fails with same 10 failed channels (7fdb70004f40000 , 7f9450005520000 , etc).
It seems some of the channels are stuck and wallet keeps trying to use them without realizing that these channels are not usable?

Node URI:
032b31feacb6d645c9a83a015d2b52d549205ef515ddea9f0a6b8a4a657

[2018-06-11 02:38] mstrokin commented on #84
It seems it tries to use channels which were closed before*

[2018-06-12 01:14] yuyaogawa commented on #43
@dpad85 @pm47
I got same issue. I've post same issue [here](https://github.com/ACINQ/eclair/issues/617) accidentally, so I close that issue and I want to discuss here.

As I mentioned on previous issue, the funding transaction in tx hisotry does not show up.

[2018-06-12 15:10] sstone commented on #82
It turns out that there are 2 different, unrelated issues here:

- an incompatibility between lnd's and eclair's implementation of a new LN feature (see https://github.com/lightningnetwork/lightning-rfc/pull/392) that is still being specified. It was activated recently on lnd (but after their latest release), but I think most lnd operators have deactivated it now. It's very easy to spot in lnd's l

[2018-06-12 16:01] sstone commented on #84
This should work (I've tested with my own eclair wallet connected to endurance, and another node also connected to endurance), but only if you have enough money on the second channel: what you have is

[code]
When you create these channels, funds are on the outside (your node and your mobile wallet). To be able to pay your node you need some funds on the "remote" side of your seconds channel. Just

[2018-06-12 19:23] irekzielinski commented on #82
Appreciated @sstone :-)

[2018-06-13 23:14] mstrokin commented on #84
In other words, if ACINQ opens and funds a channel to our node, this issue wouldn't exist?

If so, does that mean that as a vendor we have to:
1) create some channels
2) pay through these channels to someone else (and I guess ACINQ has to be the creator of ACINQ->someone channel or have some funds in that channel otherwise) so that our 'remote' end gets enough funds available to be sent back to us

[2018-06-14 06:28] mmvphil commented on #84
Yep I got same problem and IT BLOWS BIG time!  Routing and funded reliability are stopping me from writing my own apps. Not eclair's fault but I think a lot of dweebs running nodes part time and unfunded.. makes matters worse. Whats the proper way to solve this as I want to write apps for my node (send/recieve) and was hoping that connecting to eclair's channel could solve that?  Whats the node to

[2018-06-14 09:00] sstone commented on #82
We've released version 0.3.4 of eclair wallet for testnet and mainnet, which includes a change to support peers who activated [channel range queries](https://github.com/lightningnetwork/lightning-rfc/pull/392) but don't implement zlib compression (i.e lnd on their latest commits). It will fix some of the issues that people experience with lnd nodes running on master.

It will not, however, fix the

[2018-06-14 16:59] m0mchil commented on #17
@pm47 Excuse me, I should have checked better. Anyway, got stuck in this problem last couple of days. Switched DNS and got the "Eclair Wallet recovery DNS Configuration OK" confirmation. But I guess the Electrum server itself is not available, because I get "Electrum Disconnected" in Android UI.

Here are the details:

Eclair Android 0.3 mainnet

funding tx 4bb546485cdc28885efc323107a3addab4d8435b

[2018-06-17 14:10] artlav opened #85 "LN transactions stuck as PENDING for days, channel closure incomplete"
Eclair wallet mainnet, v0.3.4. Tried opening a channel to ACINQ, it opened fine but no payments were working. After a dozen attempts i had half of them stuck in PENDING state and the rest failing for various reasons. I waited for a good portion of a day, then initiated channel closure.

The channel closed unilaterally, and a day later the bulk of the funds got returned. Over the same time all but

[2018-06-17 14:34] pm47 commented on #85
Hi, can you share the channel id?

[2018-06-17 14:44] artlav commented on #85
Funding transaction is bc699b95362cccef1bd303f9ba7bd66cd3f677a181e278c15aeaf45ad5ea8276

Channel id reported in the channel details: 7682ead55af4ea5ac178e281a177f6d36cd67bbaf903d31befcc2c36959b69bc

It also reports 3 inflight HTLCs.

[2018-06-17 15:25] artlav commented on #85
One more payment just moved into the failed state 10 minutes ago, after being stuck for a total of 2 days, 21 hours. At the same time a commitment transaction was broadcast spending the part of the unilateral closure output corresponding to it (some action on your side, pm47?).

And a few minutes later the app got stuck for about a minute in a loop of "payment failed after zero attempts" popping u

[2018-06-17 15:30] pm47 commented on #85
After a first quick check, I don't see anything abnormal. Only one output of the [commitment tx](https://api.blockcypher.com/v1/btc/main/txs/8482cf56561560ae000ba945655ddaebb1c6022803b8233225debd01da756458) hasn't been claimed (for 132015 sat), probably because it has not yet expired (I believe it will at block 528235). When this output is claimed, the channel will move to `CLOSED`.

Can you share

[2018-06-17 15:37] pm47 commented on #85
Nope, didn't do anything, one of the payments expired at block=527913 (an hour ago)

Hmm, this looks like a bug in the android UI, will look into it

[2018-06-17 15:39] pm47 commented on #85
@dpad85 We should find a way to display the htlc expiries in that scenario

[2018-06-17 16:05] artlav commented on #85
The remaining one is 32d37e3c9b77e9929c7ad838d1e8cb90571d2c5afb78d861ec6d9a6e49549ebe, which is for satoshis.place.

Other ones were for it too, and two more were for Bitrefill. All of the destinations worked fine before the update and channel re-creation, with dozens of payments made, so i doubt it's unresponsive recipient that is the problem. The failures were mostly of the something wrong with

[2018-06-18 10:07] sstone commented on #84
Yes, one of the limitations of LN currently is that channels are not balanced when they are created, and the fact that payment flows are not symmetrical (i.e a lot of payments move in the "same direction") does not help, but it has already improved a lot.
Reliability of LN nodes on mainnet has also improved a lot on mainnet (on testnet it's a bit wild, but it's good for testing :)), and payment ca

[2018-06-20 11:30] ulfmartin opened #86 "Channel stuck at "WAIT_FOR_FUNDING_CONFIRMED" when transaction was not broadcasted."
The Electrum server was offline when I tried to open a channel.
The other node was cooperative in opening the channel, but the signed smart contract was
eventually never sent to the bitcoin network, so it never arrived in the mempool.
Now the channel is stuck in WAIT_FOR_FUNDING_CONFIRMED forever.

The only thing you can do is force-closing it.
There should be a re-broadcast feature for the transa

[2018-06-20 14:17] sstone commented on #86
What makes you think that the tx was never sent to the bitcoin network ?
Do you see it in the `Transaction History` tab ?

Eclair normally does not let you open a channel if it is not connected to an electrum server, and does not transition to WAIT_FOR_FUNDING_CONFIRMED if there was en error when it tried to publish the funding tx. So here, the only option that is really safe is to wait and see if

[2018-06-20 14:24] ulfmartin commented on #86
What made me believe that something went wrong on broadcasting the funding tx is that I opened the channel details, scrolled all the way down to the Transaction ID and tapped on "Open in Explorer". The blockchain explorer would tell me that the transaction was not found; even after several hours now.
The transaction hash is: e9a4259f7e0f8ca390b4999f25ce7c7802f138a56b68872d7607329841ad73a4

The con

[2018-06-20 14:27] sstone commented on #86
Do you see it in your transaction list ? Did you see an error message when you opened the channel ?

[2018-06-20 14:29] ulfmartin commented on #86
No, I don't see the tx in the transaction history.

[2018-06-20 14:32] sstone commented on #86
You mean it is not there ? In the `transaction history` you should see both regular onchain transactions and LN transactions, and your funding tx should be there, with a negative amount in red, and "0 conf" written just below.

[2018-06-20 14:37] ulfmartin commented on #86
I just opened two more payment channels to check; and indeed, they would show up as on-chain tx with 0 confirmations. But the tx in question did not show up there.
Since I got the feeling the channel would never open, I decided to force-close it. Now it's waiting to close (uncooperative). I wonder how that works when it cannot address the original smart contract.

[2018-06-20 14:56] sstone commented on #86
If the funding tx is never confirmed then your commit tx will also never confirm and the channel will remain this way.

If the funding tx was never published then it won't show in your onchain balance (displayed with a small bitcoin icon). But we must be sure that it will never be published (we may have a bug somewhere, but we should assume that it did reach the bitcoin network and was not relayed

[2018-06-20 15:30] ulfmartin commented on #86
I believe that this is not an issue about the tx fees. If the fees were too low, than it would at least land in the mempool and the blockexplorer would report "blockheight: -1" for the transaction hash. However, the transaction hash seems to be unknown to the two block explorer that I checked.
So, if the transaction was actually sent out, it never actually reached the mempool of the miners.
I susp

[2018-06-20 15:40] sstone commented on #86
Yes but afaict the tx was sent to an electrum server which did replied that it was broadcast without errors. What I don't understand yet is why it does not show in your list, which would mean that our electrum server does not know about it ??
But you're right, even if it's a corner case we need to find a way to address it, and allowing users to rebroadcast the tx is a potential solution.

[2018-06-20 15:52] ulfmartin commented on #86
Well, the only thing I can add here is that I noticed that my app seemed to have problems with the connection to the electrum server and eventually connected to another one.
Somewhere in between the funding tx was not properly handled.

I notice that it hops between the servers testnet.hsmiths.com and testnet1.bauerj.eu.

[2018-06-21 07:58] sstone commented on #86
We try to keep a pool of at least 3 electrumx connections, one of them our master, and switch when it falls behind or is disconnected. You may be right: your master server failed, and we switched to another one that never saw the funding tx. What is really bad here is that before it failed it told us that the tx was broadcasted without errors and it was not. Unfortunately electrumx servers are muc

[2018-06-21 08:08] sstone commented on #84
I'm closing this because it is not a bug in our wallet but rather a limitation of the current specs (to receive money you need funds on the "remote" side of a channel, and when you open them all the money is on your side).

[2018-06-21 08:08] #84 closed, assigned to sstone

[2018-06-21 08:13] sstone commented on #82
Closing because lnd's reconnection issue has been fixed and it seems that most "large" lnd nodes have been upgraded.

[2018-06-21 08:13] #82 closed, assigned to sstone

[2018-06-24 12:16] hsjoberg commented on #73
I have the same problem with dynamic IP addresses.
I don't know if the android wallet is downloading the whole network graph, but as my node is announcing the correct IP address to the network, it should be able to reconnect to the node using the correct IP address.

How is Eclair Wallet handling this?

[2018-06-25 08:58] pm47 opened #88 "Improve reconnection logic"
When network access is lost (due to connectivity issues, or phone in sleep mode or...), we currently rely on periodic retries for reconnecting. That's not great because there can be a delay between the time when network is back on, and the time when we actually try to reconnect to our peers/electrum. It would be nice to use Android events (is there such a thing?) to tell eclair to reconnect as soo

[2018-06-26 00:23] sezaru opened #90 "Channel with dynamic DNS goes offline forever after ip changes"
Hello,

I have a LND node at
[code]

And I use the Eclair-Wallet to create channels with it.

As you can see from the lightning channel address, I use a dynamic DNS since my ip is not static. But it seems that every time my ip changed the channel would go offline forever (my DNS was updated with the new ip so I could access the node from outside the wallet just normal).

Actually I could make it g

[2018-06-26 06:24] menzels commented on #90
same for me.
`023a3311d6a1680b51ae7fe0d2298999ae1323db6aea9e13eed9a1ab46c8daf282@broemelbude.hopto.org:9735`

this seems to be the same: https://github.com/ACINQ/eclair-wallet/issues/73

[2018-06-27 07:40] whizz commented on #79
I am seeing similar stuff. Tried opening channel from Eclair to my lnd node, running lnd 0.4.2. The channel was waiting for confirmation and then immediately closed and ended in CLOSING (uncooperative) state. I don't know how to access Eclair logs but the relevant part of log from lnd is attached. It looks like the close was initiated by Eclair.

The eclair node is 021bab430a8b5db5bedf6b2c3c3aaf75

[2018-06-27 07:46] whizz opened #91 "Feature request: Allow setting the Electrum node address"
As a user, I'd like to be able to use my own Electrum server for better privacy. The settings should allow me to specify custom Electrum address and port.

Thanks for considering adding this option.

[2018-06-28 20:29] artlav commented on #18
I was getting what is probably the same issue, with mainnet Bitrefill node as the peer (wallet version 0.3.4).

On June 22nd, shortly after a channel being open, a payment to satoshis.place worked just fine, but since 26th and on such payments fail with one attempt and the message in question ("payment fee was below the minimum required by the channel").

I eventually deleted the network DB, resta

[2018-06-28 20:34] artlav commented on #85
Follow-up: All the funds were eventually recovered after a few more days of waiting (by around Jun 21st), and the channel disappeared from the list.

After that i tried opening a new one then paying, and things worked fine.

[2018-06-29 04:58] meeDamian commented on #90
A temporary mitigation that worked for me was attempting to open a 2nd channel to the stuck node, providing a connstring with a correct new IP. You get an error that multiple channels aren't supported, but it un-stucks the original channel.

I have a 2nd node that works only over Tor v3, that I managed to open a channel to using Eclair+orbot in VPN mode, and which also went offline after some time

[2018-07-06 04:42] laz666 opened #92 "Cannot Connect to rompert.com on Mainnet"
Hi,

I have been trying to connect to nodes from https://lnmainnet.gaben.win/ on my android phone. I can connect to ACINQ nodes, but not ones entered manually.

I tried the URI '02ad6fb8d693dc1e4569bcedefadf5f72a931ae027dc0f0c544b34c1c6f3b9a02b@167.99.50.31:9735', but the app fails to connect. Any idea what may be happening?

PubKey | 02ad6fb8d693dc1e4569bcedefadf5f72a931ae027dc0f0c544b34c1c6f3b9a

[2018-07-06 08:45] kozo-cz commented on #86
I have the same problem on the mainnet. Channel is stuck in WAIT_FOR_FUNDING_CONFIRMED state forever, the funding transaction never made it to the mempool. The transaction is not shown in the Transaction history tab. The wallet shows wrong total balance 4,9mBTC, but I only sent 2,5mBTC to Eclair. It shows the bitcoin in both the on-chain balance and the lightning balance.
One more info, I initiali

[2018-07-06 16:35] sstone commented on #92
Hi, when you open issues please specify which version of eclair and, if possible, details of what you see (error messages, ....). "Cannot connect" is too vague.
Opening a channel to rompert.com does not work because rompert.com does not seem to be working (it never sends the reply to accept_channel), there is nothing we can do.

Do you have other examples of nodes you cannot connect to ? Because I

[2018-07-06 17:48] baranpirincal opened #93 "Logo Proposal: Eclair-wallet"
Hello!

I'm a graphic designer and I like to support open source projects. I would like to design a logo for your project if you interested, I will be happy to work with you! :)

Best Regards

Baran Pirinçal

Graphic Designer

[2018-07-07 00:02] laz666 commented on #92
Hi sstone,

I am using 0.3.4. I tried another node , Lightning.scot and that seems to work. Thanks.

I am also trying to connect the eclair wallet app to my own node and am finding that no one external can connect to my node. Can you point me to any material on how to open a node so others can join? I am running c-lightning on Ubuntu.

Thanks.

[2018-07-07 05:44] akumaigorodski opened #94 "Do not automatically close a channel in Eclair app when expired HTLC is present"
Eclair app is a special case of LN node in a sense that it never routes third party payments so in case when expired outgoing HTLC payments are present it may not close a channel automatically because an expired HTLC is guaranteed to be locally initiated, so there is no risk of waiting and losing money downstream.

Instead of closing a channel right away an app may show a warning and recommendatio

[2018-07-07 08:14] dpad85 commented on #93
Hi Baran, thanks for the offer!

I'm fine with the logo of the project right now ([it's the wireframed version of the eclair logo](https://raw.githubusercontent.com/ACINQ/eclair-wallet/testnet/app/src/main/res/drawable/splash_image.png)), but it can certainly be improved.

There are also several icons in the project that need an update. [The current version of the send payment icon](https://raw.gi

[2018-07-08 15:22] akumaigorodski opened #95 "'lightning' key is not recognized in bitcoin URI"
According to BOLT 11 the following bitcoin URI is acceptable for compatibility reasons:

`bitcoin:tb1qzzrpnn7fjma9nywagkl6a58x5a6hxe5nc87uu4?lightning=lntb2871020700p1pd5r7srrzjq0wrn4l5xusv9s8cvaudl548wpyl5jjyknc23tak9uujz4nausfh29y4m5qqqxcqqyqqqfcsqqqqqeqqpcdqqxqy9gcqpp5qv96a4f5gcya04xzr8seyfkcw3t94l25ff8q3n7m6c0pd42mczuqa9chqhengf25sknht54s7knrh94rvhthenpsmwaqvj87864l3sg3gd03xmlrmz5szkse28x7t8lp

[2018-07-09 08:48] sstone commented on #92
Ok, I'm closing this since it seems that it was specific to rompert.com.
As for connecting to your own c-lightning node, the generic setup would be to make sure that your LN port is accessible (you probably need to configure your local firewall, your router/internet box, and make sure that you're not just binding to localhost), but for specific advice on c-lightning you can use  #lightning-dev or

[2018-07-09 08:48] #92 closed, assigned to nobody

[2018-07-09 16:15] #95 closed, assigned to dpad85

[2018-07-12 20:29] irekzielinski commented on #53
+1
it's a frequent use case:
- send some coins to eclair
- put all of those into LN channel

right now it's almost impossible to avoid dust output,
having a MAX option that spends all funds - miner fee (and creates a single output) would be very desirable. LBW has such option and it works great.

[2018-07-13 14:54] slush0 commented on #79
I'm observing same behaviour; Channel opened to ACINQ node keeps nicely for many days, but attempts to open channel to lnd (tested my lnd node running 0.4.2 and also other lnd node) are getting closed uncooperatively, for no obvious reason.

It definitely may be a lnd issue, but lack of any logging or error messaging from Eclair side isn't helping much.

[2018-07-13 16:21] sstone commented on #79
Which version of eclair-wallet are you using ? Is there anything in your lnd logs that may help ?
lnd had a few interop-related issues (see https://github.com/lightningnetwork/lnd/issues/1337 for example) that have been fixed but some lnd nodes have not been upgraded yet. There was also a new feature that was added to LN and that only was partially supported by lnd for a while which caused serious

[2018-07-16 14:11] willezgo opened #96 "UX: Don't close the QR code window if the scanned code is of an invalid format"
Sometimes when I try to scan a perfectly valid QR code, the scanner misinterprets the data and returns a string usually composed of numbers like "65923743" instead of "lnbc...", and then the scanning window is closed and an error message appears ("Can't recognize invoice" etc...).

An improvement would be to just ignore invalid scanned data or maybe just briefly flash a red border to indicate a re

[2018-07-16 20:03] dpad85 commented on #83
Good catch, thanks!

[2018-07-16 20:03] #83 closed, assigned to nobody

[2018-07-17 08:06] Dawnton opened #97 "The TESTNET released apk got a problem"
Hello  I have downloaded the newest version of eclair on testnet,but I cannot do anything on the app now. The button is unclickable!!!
![wechatimg2661531814411_ pic](https://user-images.githubusercontent.com/15863163/42804674-447d15e2-89dc-11e8-84c3-f9cbedeb8f4a.jpg)
![wechatimg2671531814411_ pic](https://user-images.githubusercontent.com/15863163/42804676-44b8ea7c-89dc-11e8-9336-3d98808a8221.jpg)

[2018-07-17 08:16] #97 closed, assigned to nobody

[2018-07-17 14:18] andronoob commented on #35
You have already opened a channel. The channel state is NORMAL, which means that it's ready to use. Just swipe to TRANSACTION HISTORY tab and try some payment.
你已经成功打开一个通道了，现在滑动到TRANSACTION HISTORY（交易历史）页面，点右下角的纸飞机按钮，选择SCAN A PAYMENT REQUEST（扫描一个支付请求），试试看扫码支付吧。
比如，你可以去 https://mainnet.yalls.org 试试看付费阅读一篇文章。

[2018-07-25 03:25] mryellow opened #98 "UX: Logo vanishes on low-contrast background"
The logo isn't sufficiently solid to work as an icon on mobiles. Especially when the background image isn't itself some kind of solid colour.

![screenshot_20180725-132042](https://user-images.githubusercontent.com/213575/43177998-8a5f112c-900e-11e8-932e-57ec5547163f.png)

Most icons are rather strong and have solid borders to their coloured sections. They should be high-contrast against any backg

[2018-07-25 08:10] dpad85 commented on #98
That's a good point, thanks!

[2018-07-26 08:26] Mirobit opened #99 "Show numbers of hops under transaction details"
It would be nice to see the number of hops a lightning payment took.

[2018-07-26 15:06] juscamarena opened #100 "Feature Request: Fallback address"
Prompt the user the option to pay the fallback address in an invoice if routing fails. Bitrefill now provides fallback addresses in it's invoices and for high value invoices that fail due to liquidity issues paying onchain makes sense for a better user experience.

[2018-07-28 12:55] robtex opened #101 "route-finding capacity"
It seems our route-finding algorithm doesn't properly account for available capacity but tries a bit too optimistically to squeeze thru payments.
Is that a known issue or do you need more data?

[2018-07-28 16:23] pm47 commented on #101
We don't have that information, unfortunately. BOLT7 `channel_announcement`s don't include the capacity, we would have to retrieve it from the blockchain for each channel, which is costly (note: those announcements don't even contain the 32B funding txid, instead we use an 8B coordinates of the funding tx in the blockchain).

Actually, for the same reason Eclair Wallet doesn't currently authentica

[2018-07-28 16:28] pm47 commented on #101
Note that another way to look at the problem is for the receiver (which maybe runs on a server and has access to more data) to provides hints about what she thinks are the best routes available. After all she has a strong incentive to help, and this is already supported by BOLT11.

[2018-07-28 16:53] robtex commented on #101
Thank you.
Got it... very unfortunate capacity isn't signalled at all by any message. It has annoyed me as well, even though i don't make any mobile clients.

route hints in invoice won't help much since you do not know the potential payers node. it will also easily become huge if you want to provide multiple optional paths and AMP support.
imho route hints should be used restrictively, only to an

[2018-07-29 04:39] yuyaogawa commented on #86
@sstone I have the same problem on the mainnet and here is another same issue #43. I believe this is a serious issue because our funds are tied up and it seems to never get back unless this issue is fixed. If eclair-wallet stores the raw funding transaction, we could manually rebroadcast it to network.

[2018-07-29 08:20] kozo-cz commented on #86
After I chose to close the failed channel the funds were released and I successfully opened another channel. No loss of btc occurred. The failed channel is stuck in CLOSING (uncooperative) state forever.

[2018-07-29 09:02] yuyaogawa commented on #86
@kozo-cz In this issue #43 , it cannot close channel because funding transaction was never broadcast, AND the funds in funding transaction has not been released.
How were the funds released even if the failed channel is stuck in CLOSING state?

[2018-07-29 09:33] kozo-cz commented on #86
My funding tx was not broadcast either. I noticed that the failed channel didn't deduct btc from the on-chain balance. So the funds were not locked probably. Do you see the Close option for the failed channel? What is your on-chain balance?

[2018-07-29 09:41] yuyaogawa commented on #86
@kozo-cz Yes, I know what you mean. When I looked into the outpoint where the funding tx tried to spend, the output is still spendable. However, the channel is stuck in CLOSING state, so that amount of BTC that I tried to open a channel with doesn't go to neither off-chain nor on-chain in *eclair wallet*. This is the problem here.

[2018-07-30 08:24] pm47 commented on #101
Indeed the receiver can't provide a full route, those would just be landmarks à la Flare. I'm pretty sure it would have helped in Andreas' case, but I haven't done any simulations.

That is what they were designed for, yes

[2018-08-01 10:00] slush0 commented on #79
I'm always running lnd master, so if these issues weren't fixed in day of reporting, it was something different.

I was, however, able to open the channel few days ago and the channel still holds. So maybe this has been fixed by recent lnd or eclair updates.

[2018-08-01 12:11] sstone commented on #79
The biggest issues (zlib support and disconnect-reconnect loops) have been fixed some time ago in lnd so everything should work fine now.

[2018-08-03 10:23] dpad85 opened #102 "App crashes when clicking on payment amount layout"
When clicking on the payment amount layout, in the payment modal window, the application may crashes because of a missing function in activity.

Reported by @gustavonalle

[2018-08-09 13:53] bjornmuh opened #103 "Support scanning inverted QR-codes. White on black canvas"
Certain wallets, in example ZAP wallet displays QR codes white on black.
It is impossible to scan payment requests these from Eclair wallet. Maybe it is a quick fix?

[2018-08-10 18:09] haraldschilly commented on #85
I've a similar "Pending" transaction issue. It's in that state for days. Mainnet, 0.3.5.

At the same time, I saw I have a channel in a red state, don't remember what it was called (maybe error?), and slightly blinking every second, as if it was retrying something. That channel changed to "closing uncooperative" today. I didn't initiate that, so maybe the wallet noticed that this channel is bad?

[2018-08-15 20:31] d4amenace opened #105 "The future ability to receive payments without having to generate payment requests"
What about the ability for the sender to just send a payment to the receiver without the receiver having to first issue a payment request if you are already directly connected through a channel to the receiver? This would allow for lightning tips without having to host a tip bot payment request creating plugin on an expensive server.

[2018-08-16 21:26] grunch opened #106 "Support for global FIAT currencies"
I found another issue about this but I had to open this issue because there are only 20 fiat currencies on the API that is currently used on the wallet.

The coindesk api supports 167 world fiat currencies and the bitpay supports 157, those 20 fiat currencies are less than 12% of the ones we can add to the wallet, let's think about real massive adoption, not only first world countries adoption.

C

[2018-08-19 23:04] bloctavius opened #107 "Opened two channels, but they don't show up in any ln explorer"
Here are the two channel IDs that I have:
0e0bfbf8df0fd36d6183f3727f652b982830c3ab6eb5facf076246c1642d2f3b
8a02ea45a466266c75109d516c8699ec19dd7d502384088e19b451f285e61bd9
The states are both "NORMAL" but they don't show up on any ln explorer...
My alias is Bloctavius and my node URI is 02ab593dbff6cbc273b5bc6dedea049e898eb0df6871324d54b202475451e35731@148.75.243.60:9735

Any insights would be hel

[2018-08-20 09:36] sstone commented on #107
As much as possible please ask support questions on https://gitter.im/ACINQ/eclair, we use github for strictly technical issues. Channels opened with our mobile app are not announced and will not show on LN explorers (see https://github.com/ACINQ/eclair-wallet/wiki/FAQ#i-dont-see-my-eclair-wallet-node-on-ln-explorers-)

[2018-08-20 09:36] #107 closed, assigned to nobody

[2018-08-20 09:58] sstone commented on #105
The current LN protocol requires the receiver to actively initiate the payment workflow: the receiver creates a payment preimage, sends its hash to the sender (typically by displaying a QR code).
There have been discussions on how to enable recurring payments or donations (see https://github.com/lightningnetwork/lightning-rfc/issues/447 for example), and it's a feature that has been requested quit

[2018-08-20 09:58] #105 closed, assigned to nobody

[2018-08-22 10:28] neoo23 opened #108 "Failed LN transaction succeds after successful retry of this payment (2. TX, via BTCPay QR)"
1. I opened a LN channel ... success
2. I imported a BTCPay payment (QR)
3. The Transaction (#1) was some minutes in pending state and than failed.
4. I tryed again to import the BTCPay payment (QR)
5. Another LN Transaction (#2) was created and finished successful in seconds
6. But the previous failed one (#1) was also executed (success)
7. So i payed the double amount, what was not the plan.

i

[2018-08-30 03:33] mstrokin opened #109 ""Open in explorer" button in channel details should only be available when transaction exists"
Otherwise, it sends user to /v1/btc/main/txs/null

[2018-08-30 15:21] manakill commented on #17
Worked for me but I still had to wait hours due to my phone. I kept the dns change on, rebooted a few times, etc but it was later at night on a different network that it finally updated

[2018-09-03 10:09] beccon4 opened #110 "UI hard to read due to tiny fonts"
I installed the wallet at the Berlin Hackathon and managed to establish a couple of Lightning channels to buy some candies. Everything works fine but the UI might profit from some polishing:
- please use larger fonts - not all users have eagle style vision and the latest cellphone screen
- probably it is not necessary to show the entire hash - it is enough to be able to copy it into the clipboard

[2018-09-03 13:04] dpad85 commented on #108
Hello Steffen,

Do you have 2 separate payment lines for that purchase in eclair wallet? Or is it the same payment, with the same payment request, that first failed and then succeeded?

If you can join screenshots, that may be useful!
Thanks.

[2018-09-03 13:06] dpad85 commented on #102
Fixed by https://github.com/ACINQ/eclair-wallet/commit/b81ba2875eb1e58599d71d2059a3952404e497d6

[2018-09-03 13:06] #102 closed, assigned to dpad85

[2018-09-03 16:10] neoo23 commented on #108
Hello,
here are screenshots, i guess 2x different payments ...

![screenshot_20180903-180046](https://user-images.githubusercontent.com/42606758/44995681-870be080-afa4-11e8-95ae-71ab156562cd.jpg)
![screenshot_20180903-180052](https://user-images.githubusercontent.com/42606758/44995686-8a9f6780-afa4-11e8-8f8b-e626443c412c.jpg)
![screenshot_20180903-180058](https://user-images.githubusercontent.com/

[2018-09-05 10:18] gabrieldodan opened #111 ""bad concurrent query_short_channel_ids" error"
Hi,

I am trying to open a LN channel but I always get "bad concurrent query_short_channel_ids" error and the channel is closed automatically ...I have eclair wallet version 0.3.5 installed. Any idea?

Thanks!

[2018-09-05 15:09] #93 closed, assigned to nobody

[2018-09-05 17:38] sstone commented on #111
Which node are you trying to open a channel to ?

[2018-09-06 10:32] gabrieldodan commented on #111
This is the node 024655b768ef40951b20053a5c4b951606d4d86085d51238f2c67c7dec29c792ca@88.98.213.235:9735

But after a few tries it worked finally ... haven't changed anything, maybe it was just a temporary issue.

[2018-09-06 20:49] hypevhs opened #112 ""Send" and "add channel" buttons greyed out on Android Pie"
The "send funds" and "add lightning channel" floating-action-button is greyed out. I'm running mainnet eclair on a Google Pixel, which updated to Android Pie very recently. I haven't used this app in a while, though.

- Have tried to restart the app, restart device, clear cache, close LN channels (uncooperatively)
- Have not tried to clear data
- "Network Info" shows _block height_ of 0, and _N/A_

[2018-09-06 20:52] hypevhs commented on #112
Forgot to mention I am running 0.3.5 from Google Play.

[2018-09-07 08:08] sstone commented on #111
This error is linked to a new feature ("channel range queries") that was added to the LN specs recently, and I think that lnd recently fixed a few errors related to that feature so maybe the node was running an old version and upgraded ? I'm closing this for now. Thanks!

[2018-09-07 08:08] #111 closed, assigned to nobody

[2018-09-10 09:27] dpad85 commented on #112
This is a networking problem. The buttons are greyed out because the wallet cannot connect to any electrum servers. Are you connected to a Wi-Fi network? If so, can you try switching to another Wi-Fi network and restart the app?

[2018-09-11 20:00] molxyz opened #113 "Custom fee issues - Eclair Mobile v0.3.7 Testnet"
It's great that we can change on-chain transaction fees on Eclair Mobile before we send the transactions. However, in order to do this we have to play with the app by pressing on the amount number next to `FEES` before `sat/byte` before the app lets us change the fee amount per byte.  There is a `CUSTOM` button but it doesn't show up until we start to change this fee amount. But this button will c

[2018-09-12 19:24] hypevhs commented on #112
It seems that my Wi-Fi networks block some traffic, as I was connecting to `[redacted].eu:50001`. When connecting via mobile network, everything works as expected.

I propose that an indication be added if no server is reachable. I know the "Connection to Electrum Server lost" toast sometimes appears, something similar to that would be useful.

[2018-09-13 17:34] dpad85 commented on #113
Hi molxyz,

The `CUSTOM` button just shows that the user has entered a custom fee value. If you press the button, you will switch back to one of the predefined fee estimation, either `SLOW`, `MEDIUM`, or `FAST`. I understand that it can be confusing at first.

Two improvements could be made:

* change the style of the `CUSTOM` button when the user enters a custom fee value.
* underline the fee val

[2018-09-13 17:36] dpad85 commented on #112
That's a good point. There is not enough feedback to the user in this case.
Thanks!

[2018-09-13 17:41] dpad85 commented on #110
We are aware of this issue and we want to provide a long term solution which does not force the user to manually reconnect to a node by setting the new IP of the peer.

[2018-09-20 02:26] chuanliang opened #116 "Eclair wallet node problem when open channel"
I have set up a lightning network node using LND on centos . LND version is 0.5.0-beta commit=16b5a67c3aa99907a4dff8d9b67175466557ffc0 .
My node uris is 03783fe0ad682e695e1d132df84222066d483599b5b49b879a7c6aeb66f57adb56@54.169.18.25:9735

I use eclair wallet v0.3.8 to open channel with my node on five android mobile with different wallet. Three mobile can successfully open channel with my node.
Tw

[2018-09-20 09:39] pm47 commented on #116
When you select one of the closed channels, do you have anything in the field `Cause of closing`?

Note that this is not necessarily a problem with `eclair`, could be with `lnd`. As a matter of fact I have regularly seen that issue (endlessly waiting for an `AcceptChannel` or an `Error` in response to an `OpenChannel`). @halseth does that ring a bell? maybe you can make sense of the `lnd` log?

[2018-09-20 10:44] chuanliang commented on #116
Sorry ,I have upload wrong image of  channel details.
The field of  "Cause of closing"  is "01".

[2018-09-20 10:51] halseth commented on #116
@chuanliang Can you try enabling debug logs on the `lnd` node and attempt to open a channel again?

This can be done either in the `lnd.conf` file: `debuglevel=debug` or while the node is running: `lncli debuglevel --level=debug`.

Debug logs should give us an idea why `lnd` is cancelling the channel request :)

[2018-09-21 00:38] chuanliang commented on #116
@halseth  Today I try to open channel with the node using the two eclair wallet having problem , the two wallet all successfully open channel with my node  ,so I can't reproduce the problem , but i think there is something wrong with the eclair mobile node .
I will enable debug logs on my lnd node and try to reproduce the problem.

[2018-09-21 14:24] STAWKEYE opened #118 "Auto-closed channel to my own LN node"
I run a LN node using Eclair on PC, connected with a handful of channels. Yesterday I downloaded Eclair mobile wallet for android, funded it, and then set up a payment channel with my own node on PC. The mobile wallet showed LN balance and an on-chain balance of what I didn't put in the payment channel (as expected).
Today I open mobile wallet for first time today, and LN balance is 0, all funds a

[2018-09-21 16:10] pm47 commented on #116
I don't see anything pointing to a bug in `eclair wallet`: `lnd` seems to just be rejecting `eclair`'s channel opening requests for no apparent reason. If anything, the main issue would be the cryptic `01` error message which doesn't help understanding what the problem is. IIRC I already ran into this with the regular `eclair` on server when opening multiple channels in a row to the same `lnd` nod

[2018-09-21 16:18] sstone commented on #118
Hello, can you paste your `eclair.log` file (to pastebin or something similar) ?
Your log file will be in your eclair directory, which by default is ~/.eclair on linux and c:\Users\YOUR_USER_NAME\.eclair on windows

[2018-09-21 16:52] STAWKEYE commented on #118
wow the log file is over 200MB - is that normal? Still trying to get it on pastebin but both notepad and pastebin aren't being responsive with such a large file

[2018-09-21 17:03] sstone commented on #118
Can you just paste the logs for the last 2 days ?

[2018-09-21 17:46] STAWKEYE commented on #118
No idea if I did this correctly - the log was so massive that I could only paste a few random lines to stay below the 500kb pastebin limit.  The log is recording events several times a second nonstop and so I will unfortunately probably not be able to provide you any useful log info... On the bright side I set up a new channel to my same LN node after this one closed and I was able to buy those Bl

[2018-09-26 12:24] dpad85 opened #119 "MigrationHelper creates duplicate column in LocalChannel DB"
Migration from database v6- to v8 creates a duplicate `REFUND_AT_BLOCK` column in `LocalChannel` database, because GreenDAO creates the `LocalChannel` table from scratch which would already contain the `REFUND_AT_BLOCK` column.

[2018-09-26 14:33] #119 closed, assigned to dpad85

[2018-09-26 16:43] sstone commented on #118
You can check for error that look like `peer sent error: ascii='local/remote feerates are too different: remoteFeeratePerKw=848 localFeeratePerKw=12031'`
We've released our [beta6](https://github.com/ACINQ/eclair/releases/tag/v0.2-beta6) that should prevent channels from getting closed when peers disagree on fee estimations in most cases. And we now ship  a default logging configuration with a rol

[2018-09-26 17:25] halseth commented on #116
Looks like it might correspond to the error `ErrMaxPendingChannels`  https://github.com/lightningnetwork/lnd/blob/master/lnwire/error.go#L24:2

Did the protocol have error codes at some point? Since this is old code that might be outdated.

That makes sense since you are opening more than one channel to the same node.

[2018-09-27 00:39] chuanliang commented on #116
@halseth  Thank you.
The value of MaxPendingChannels in my lnd.conf  is 1, I will reproduce the problem and try the parameter.

[2018-09-27 16:38] pm47 commented on #116
Thanks for the follow up @halseth 👍

I don't think so, that must date back to pre-rfc lnd.

[2018-09-28 13:03] STAWKEYE commented on #118
Excellent - I like the broken-up log files and so far my 2nd payment channel (that I set up when I originally posted this issue) has not disconnected yet.

[2018-09-28 13:08] STAWKEYE opened #120 "Steal focus"
After sending a LN payment in mobile eclair wallet I was responding to a text in android when the payment failed, and the app stole focus from the texting. It would probably be best to be handled as a notification rather than moving you back into the app while you're typing in another one. (UI behavior like that is the Windows experience, not android /s )

The fact that the payment actually failed

[2018-09-28 17:36] STAWKEYE commented on #118
I can't believe it - but it just disconnected in a force close. The error was the "local/remote feerates are too different" issue. I am running beta6 Eclair node and latest eclair mobile wallet from the Google Play store (although technically the payment channel was created a day before I updated from beta 5 to 6).

All of my outbound channels from my LN node are set to a firm 1satoshi/byte, but I

[2018-09-28 18:06] pm47 commented on #118
Add this to your eclair.conf:
[code]
it won't solve the issue but will remove the symptoms

What was the full error message?

[2018-09-28 18:18] STAWKEYE commented on #118
In mobile wallet, upon clicking on the closed channel to get details, under "Cause of closing" it says "local/remote feerates are too different: remoteFeeratePerKw=792 localFeeratePerKw=5589" (see screenshot).

Also FWIW, it incorrectly states that the channel was opened Sept28th at 8:15am (which roughly corresponds to the time I tried to make a purchase, however the funding Tx for that channel ha

[2018-09-28 18:22] pm47 commented on #118
There is a huge difference in estimates, which is interesting.

Can you attach the relevant eclair logs?

[2018-09-28 18:24] STAWKEYE commented on #118
[eclair.log](https://github.com/ACINQ/eclair-wallet/files/2429273/eclair.log)

[2018-09-28 18:26] STAWKEYE commented on #118
If you look at the BTC mempool around 9am EST (maybe 40 minutes after my initial purchase attempt but long before the ultimate closing of the channel around 1pmEST) there is a massive spike which could have caused significant changes to the average Tx fee, if that's what you mean.
[https://jochen-hoenicke.de/queue/#0,24h](url)

[2018-09-28 18:27] pm47 commented on #118
What is your timezone?

[2018-09-28 18:28] STAWKEYE commented on #118
EST (Eastern Standard)

[2018-09-28 18:30] STAWKEYE commented on #118
Oops - I just Googled my own time and it's "technically" EDT right now (Eastern Daylight Time). Whatever New York City is...

[2018-09-28 18:44] pm47 commented on #118
Exactly.

No, the channel closing got initiated at 10pmEDT, when the fee spiked:

[code]

So you basically turned on eclair wallet at the worst possible moment, but we still need to handle fee varations of that amplitude @sstone

[2018-09-28 18:48] Kixunil opened #122 "UX: Don't allow user to open a channel with unconfirmed balance"
Steps to reproduce:

* Make sure you have empty wallet (no funds)
* Create a transaction to fund the wallet (use low fee to ensure it doesn't confirm too early)
* *Before the transaction confirms*, try to create a new channel with the balance lower than the incoming transaction

What happens:

The wallet attempts to create the channel and fails because the transaction is unconfirmed

Expected beha

[2018-09-28 18:54] STAWKEYE commented on #118
Wow - well kudos to you for actually figuring that out, haha.
I have been having significant trouble getting successful payments in either mobile wallet or direct from LN node and I'm hoping that this was the underlying issue for all of them. Technically, so far the only successful payment I've had was for those Blockstream stickers, and for that I created a direct payment channel to their node wh

[2018-09-28 19:05] Kixunil commented on #91
I'm interested in this feature as well, especially because I already have an Electrum server.

[2018-09-28 19:11] Kixunil commented on #48
@nilskp monitoring requires scanning whole blockchain, so that'd be essentially like running a full node. The battery would be dead very quickly and carrier fees probably unacceptable for most people.

[2018-09-28 19:15] STAWKEYE opened #123 "Wallet giving me too much money /s"
Upon opening a payment channel the funds ultimately move from on-chain BTC to Lightning, which is shown as 2 separate balances on main eclair screen. While the opening Tx is in mempool awaiting inclusion into the blockchain the LN balance has updated but the BTC balance has not, therefore double-counting funds. The overall total at the top reflects double-counting. This is presumably all graphical

[2018-09-28 19:34] dpad85 commented on #123
Hello,
The wallet UI should indeed ignore balance of channels in `WAIT_FOR_ACCEPT_CHANNEL` state.
Thanks!

[2018-09-28 20:41] Kixunil opened #124 "Use all available funds to create a channel"
It'd be great, if there was a button/checkbox when creating a channel that would allow one to use all available  funds to open a channel in order to avoid leaving dust in the wallet.

[2018-09-28 21:05] slush0 opened #125 "Eclair do not follow peer IP changes"
Eclair seems to do not follow updates of IP addresses of nodes. I had to change ip address of my node "ln1.satoshilabs.com", but Eclair didn't reflect such change and channel appear "OFFLINE" even after 14 days of such IP change.

Please implement updating of IP address, this seems to bring unnecessary downtime and running costs for users when infrastructure changes are required.

[2018-09-29 08:35] Kixunil commented on #85
I have a similar problem. I attempted to pay at satoshis.place, which has 10 min expiry. It's already timed-out (about 15 min since then) and still in pending state.

Shouldn't the transaction abort after expiry? Any plans to add a button to abort it manually?

[2018-09-30 17:41] Kixunil commented on #85
I checked today and it finally failed. It's resolved for me in this specific case, I just hope the timeout will be fixed.

[2018-09-30 18:10] pm47 commented on #85
@Kixunil the request timeout and payment timeout are two separate things:

- the request timeout is set by the merchant (here satoshis.place), it just means that past this time, the merchant will refuse an incoming payment corresponding to this request

- the payment timeout (the T in hTlc) is an integral part of how lightning works. Each hop in the route adds a timeout that they chose depending o

[2018-09-30 18:11] pm47 commented on #91
+1, this is something that we have meaning to add for quite some time

[2018-09-30 18:16] pm47 commented on #125
This is related to https://github.com/ACINQ/eclair/issues/471.

Unfortunately on eclair-wallet things are a bit more complicated because we don't have the `node_announcement`s when sync the routing table with channel queries.

 @dpad85 At the very least we should allow users to manually update the ip though (e.g. by scanning a qr code).

[2018-10-02 15:49] STAWKEYE commented on #123
I would like to add that this particular channel wound up being frozen somehow and I've tried force-closing it both on the Eclair mobile wallet side as well as the Eclair Lightning Node side (it is a channel from my mobile to my own LN node). I'm not sure how to un-stick it at this point; the (duplicate) force-close initiated by my full node is only 12 hours old, however the original force-close i

[2018-10-02 19:05] STAWKEYE commented on #125
So you're ln1.satoshilabs.com.... haha. I was wondering what happened to ya! Should I just force-close the channel or is there a way to sort this out without reopening channels?

[2018-10-02 19:47] STAWKEYE commented on #125
Sorry to come back here like I'm stalking your thread, but it appears you're back online now? If you fixed the IP issue please let me know b/c I have yet to restart my router since creating LN node and I'm wondering if I'll screw the whole thing up someday if I get a new IP addy assigned to my PC (I am using the DHCP or whatever feature of my router, but not sure if that's adequate.)

[2018-10-04 07:42] beccon4 opened #126 "Allow to backup to WebDAV"
Currently Eclair tries to backup into Google Drive which is not available on LineageOS. So I get a confusing flashing error message "No Backup".

I'd rather use my private cloud (like e.g. Nextcloud) to save my backups - so WebDAV support instead relying  of proprietary interfaces would be nice.

[2018-10-04 08:16] karloluiten commented on #126
Agreed, webdav would be very welcome. I also think the privacy-friendly self-hosted systems fit better into the "ecosystem" of bitcoin/LN (as opposed to Google)

[2018-10-04 10:57] pm47 commented on #126
That's a great idea. Google Drive is definitely a tradeoff (a pretty good one imho), and we designed the thing to allow multiple backends. @dpad85 is on vacation currently but we'll take a look at that when he gets back

[2018-10-21 21:09] irekzielinski commented on #124
It's a duplicate of #53
I fully agree that this would be VERY helpful.

[2018-10-23 16:33] #109 closed, assigned to nobody

[2018-10-23 16:33] #113 closed, assigned to dpad85

[2018-10-25 11:55] Victorsueca commented on #86
I think I'm having a similar issue. I have a channel that's been stuck on "CLOSING" for 1 day already. The funding transaction was never broadcasted and the UTXO that was meant to fund it was later spent into succesfully opening another channel, but it's still trying to close the first one. I'm using ECLAIR 0.2-beta8 and it's kind of annoying to have that stale channel in my channels list.

[2018-10-25 12:03] pm47 commented on #86
This is addressed by https://github.com/ACINQ/eclair/pull/714

No, this doesn't affect the funds, they can still be spent on an other on-chain transaction or channel opening. This is only visually annoying, there is no other consequence to the best of our knowledge.

[2018-10-26 13:25] dpad85 commented on #123
You cannot configure this from the mobile wallet. For your desktop node, take a look at this line in the conf: https://github.com/ACINQ/eclair/blob/master/eclair-core/src/main/resources/reference.conf#L56

[2018-10-26 13:27] #123 closed, assigned to dpad85

[2018-10-26 13:27] #124 closed, assigned to dpad85

[2018-10-29 11:54] Kixunil commented on #85
Oh, I see, thanks! I wonder whether there is a way to make it less confusing to the user.

What exactly is the point when the request times out? If the user doesn't connect to the merchant? If the channel with the merchant doesn't update to allow him pulling money by disclosing `R`?

[2018-11-02 17:31] equisde opened #127 "can't build on android studio"
it says could not find those plugins i've set google repo instead of jcenter

Could not find org.greenrobot:greendao-gradle-plugin:3.2.2.
Searched in the following locations:
    https://dl.google.com/dl/android/maven2/org/greenrobot/greendao-gradle-plugin/3.2.2/greendao-gradle-plugin-3.2.2.pom
    https://dl.google.com/dl/android/maven2/org/greenrobot/greendao-gradle-plugin/3.2.2/greendao-gradle-

[2018-11-05 10:49] dpad85 commented on #127
Hello,

The google maven repo only contains google artifacts as you can see here: https://dl.google.com/dl/android/maven2/index.html

If you remove the `jcenter` repository, you may not be able to retrieve some dependencies. You should not remove it.

In any case, the `greendao-gradle-plugin` is available from these repos:

* http://central.maven.org/maven2/org/greenrobot/greendao-gradle-plugin/3.

[2018-11-05 10:49] #127 closed, assigned to nobody

[2018-11-07 07:49] Kixunil opened #128 "Possible bug - Eclair doesn't notice expired payment request"
It seems that Eclair is allowing to pay expired payment requests. When I was trying to pay an invoice with BLW I got "Expired request" notification, which turned out to be due to incorrect clock. However, Eclair doesn't show any such message. I'm not entirely sure, but this looks like a bug to me - user should be notified of such thing.

[2018-11-21 11:17] #103 closed, assigned to dpad85

[2018-11-21 17:45] bjornmuh commented on #103
Great work

[2018-11-26 14:55] #125 closed, assigned to dpad85

[2018-11-29 14:25] bithobbes opened #131 "Launching via URI fails on "cold start""
With the app closed (not just in background, e.g. tap open apps button and swipe it away) and starting a LN payment through clicking a payment URL (e.g. by clicking the QR code here https://jochen-hoenicke.de/lightning/ ) and entering the unlock code quickly (or not really slow at least) Eclair fails with "None of your Lightning channels has enough balance to send this payment". Once the app is la

[2018-11-29 15:11] dpad85 commented on #131
The control checking the channels' availability fails because the channels have not established a connection with their peers yet, and as such there are no channels ready to pay. It is technically correct but obviously poor UX.

We can either:
- have a softer control in the case of a cold start and take the chance to send the payment even if it could fail.
- wait for the channels to go to NORMAL.

[2018-11-30 15:19] bithobbes commented on #131
Maybe the payment window or the payment button could wait for the channels and display a message "waiting for channel connection" or something as long as things are not ready.

[2018-12-04 03:14] ghost opened #132 "I recharge eclair-wallet,The block was confirmed but did not receive BTC."
I recharge eclair-wallet,The block was confirmed but did not receive BTC.
What should I do?

[2018-12-04 06:22] #132 closed, assigned to nobody

[2018-12-04 19:32] #128 closed, assigned to dpad85

[2018-12-04 19:32] #131 closed, assigned to dpad85

[2018-12-04 19:34] dpad85 commented on #131
The `pay` button will now be disabled when the channels are offline which should solve most of the cold start failures. Thanks for the feedback.

[2018-12-04 22:31] jeremyawon opened #133 "bip-0072 / bip-0070 support"
some merchants use the bip-0072 payment URI extension (e.g., bitpay).

eclair-wallet currently does not support this.

the semi-interactive bip-0070 protocol which bip-0072 URI's lead to is a UX complication, but would extend usability of eclair.

is there an official stance regarding adding support?

https://github.com/bitcoin/bips/blob/master/bip-0070.mediawiki
https://github.com/bitcoin/bips/bl

[2018-12-05 10:50] githorray commented on #133
"What is BIP-70 and why is it controversial? Why doesn't BitPay implement the more universal BIP-21?"

https://www.youtube.com/watch?v=XZKydqYu1RY

[2018-12-05 10:53] jeremyawon commented on #133
aaah, fascinating. thanks for pointing me to this @githorray!

regardless, it would be nice to hear the official word from acinq regarding support for this.

[2018-12-07 17:37] montvid opened #134 "BTC~USD price shown is grossly incorrect"
1 BTC shown in the app as 4.918.40 USD while the price on coinmarketcap.com is 3.280.1 USD. What service is used for price discovery?

[2018-12-07 18:09] dpad85 commented on #134
Hello,

We use the blockchain.info ticker API for price discovery (https://blockchain.info/ticker) which as of now shows a price of 3,289 USD.

The price is regularly refreshed (when the app starts, and every 20 min after that), though if you do not have access to the internet, or if for whatever reason your device cannot reach the blockchain.info API, the app will use the latest price it knows, w

[2018-12-07 18:24] montvid commented on #134
I use LineageOS Android  8.1 via WIFI, I pushed a f-droid link to donate bitcoin, the eclair wallet booted and showed the Pay dialog, entering 1 BTC the wallet showed the old USD price info. I haven't booted the wallet for some days. Trying now again the USD price is refreshed correctly.

It seems the USD price is not refreshed instantly when the app starts and **shows the Pay dialog box**. Or as

[2018-12-07 19:01] dpad85 commented on #134
You can leave the issue open, it's not a bug per se but it's bad UX and there are a few things that can be improved. Thanks.

[2018-12-13 17:25] #91 closed, assigned to nobody

[2018-12-13 17:26] dpad85 commented on #91
This feature will be available in the next release. Please note that the electrum server you connect to will need a valid certificate.

[2018-12-14 11:01] Akshshr opened #135 "Failed to file implementation 'fr.acinq.eclair:eclair-core_2.11:0.2-android-beta1'"
Got this dependency from another thread but looks like that file is also outdated.

Missing this file when you try to sync with gradle
fr.acinq.eclair:eclair-core_2.11:0.2-android-beta1

@dpad85 Got a fix? Thanks!

[2018-12-14 11:09] dpad85 commented on #135
Hello,

the `0.2-android-beta1` version is outdated indeed since it was released on Apr, 4 2018. You can still build it if you need it, just checkout the `v0.2-android-beta1` tag (https://github.com/ACINQ/eclair/commits/v0.2-android-beta1)

[2018-12-14 11:54] Akshshr commented on #135
Umm still no luck, same error

[2018-12-14 13:07] dpad85 commented on #135
What is the error? And what are you trying to do?

In any case I don't think the `0.2-android-beta1` version of eclair-core should be used anymore.

[2018-12-17 10:52] dpad85 commented on #133
We'd like to support BIP 70 payment URIs but for now it's quite low on our priority list.

[2018-12-17 13:05] Akshshr commented on #135
Hmm which is the latest and stable version I can checkout? Some of the version I am having trouble finding the gradle config file OR an app folder

[2018-12-17 17:49] dpad85 commented on #135
You can checkout the `0.2-android-beta13` version (https://github.com/ACINQ/eclair/tree/v0.2-android-beta13) which was released 3 days ago.

[2018-12-18 11:32] Heebron opened #136 "Incorrect insufficient funds reported - plenty of funds in wallet"
My wallet contains significantly more BTC then the amount I am attempting to use to open a channel. No matter what node I pick, including the ACINQ node, I receive an insufficient funds error and the channel immediately closes.

I am attempting to open a channel to node:
[code]
with 3054206 satoshis. ~ $100 USD

The channel briefly displays in the GUI, then I get the insufficient funds error and t

[2018-12-18 14:47] dpad85 opened #137 "Error: Payment amount is not valid"
This issue was originally opened by @Kixunil on the [eclair repository](https://github.com/ACINQ/eclair/issues/785). Below is the original issue description.

---

On chain payment is impossible due to "invalid" amount, while I see no reason for invalidity of the amount (wallet has larger balance and there are exactly 8 decimal places).

Expected behaviour: The on chain payment is sent after click

[2018-12-18 15:45] dpad85 commented on #137
@Kixunil I've followed the steps you've given and have not been able to reproduce this issue.

From what you describe, there is a problem when parsing the amount parameter in the URI and feeding it to the pay window. I've got a few questions:

- After scanning the QR code, is the amount field correctly filled in? Do you see any non numeric character, such as a `<space>` blank character? Could you

[2018-12-18 15:51] dpad85 commented on #136
Hello, this is the repository for the mobile Eclair Wallet android application. Your issue is related to eclair (for servers/desktop), not the android app.

Could you recreate the issue here: https://github.com/ACINQ/eclair/issues
Thanks

[2018-12-18 22:21] Akshshr commented on #135
Okay, I am certainly doing something wrong.

I check out the android branch and run that in android studio, the project is even missing and app folder.Android studio detects no framework

Is there a setup I need to be doing?

Aim of all this? Just trying to dig into the code and see how/learn how the code interacts with the LN and the blockchain

[2018-12-19 10:17] dpad85 commented on #135
I think you are confusing `eclair-wallet` with `eclair`. What you need to import into Android Studio is the **eclair-wallet** project which is an android application and mostly contains UI logic.

The **eclair** project is **not** an android project but the core library handling the Lightning logic. The `android` branch of the eclair project just makes the code compatible with the android SDK, not

[2018-12-19 10:30] Akshshr commented on #135
Jeez sorry for the trouble! My bad for sure

I just pulled the testnet branch

and I get this:

Could not find aapt2-proto.jar (com.android.tools.build:aapt2-proto:0.3.1).
Searched in the following locations:
    https://jcenter.bintray.com/com/android/tools/build/aapt2-proto/0.3.1/aapt2-proto-0.3.1.jar

Looks like the project is missing a dependency?

On Wed, Dec 19, 2018 at 11:17 AM Dominique <n

[2018-12-19 10:44] Akshshr commented on #135
Scratch the above:
Okay changing the order of the jCenter() and the google() dependencies solved that

And now I am unable to resolve one of the eclair dependencies
Failed to resolve: fr.acinq

Here is a screenshot if I am missing something

[Screen Shot 2018-12-19 at 11.42.10 AM.png]

Thanks for the constant help!

On Wed, Dec 19, 2018 at 11:29 AM Akash <akash.shrivastava@hotmail.com<mailto:akash

[2018-12-19 17:02] dpad85 commented on #135
Looks like the Android Studio gradle tool cannot retrieve the **eclair-core** library from the maven repository.
The version used by the current `testnet` branch is `0.2-android-SNAPSHOT` as seen in the gradle file:

https://github.com/ACINQ/eclair-wallet/blob/3325be024208a3f603e06d05970e8860f4a1ae99/app/build.gradle#L81

Have you built the eclair-core library? The current version of the android b

[2018-12-19 21:21] Heebron commented on #136
This may be due to the wallet being locked? I unlocked my wallet and was able to fund a channel. Is there anyway for your client to detect that the wallet is locked and report that instead of insufficient funds?

[2018-12-19 21:22] Heebron commented on #136
Oops - I'll move over to the other project.

[2018-12-19 21:22] #136 closed, assigned to nobody

[2018-12-19 22:08] Kixunil commented on #137
Sorry for the mistake.

* After scanning the QR code, is the amount field correctly filled in?

Stupid me, I should have thought about it before. The problem is I'm using Slovak localization which uses comma (`,`) instead of dot (`.`) as a separator between whole and decimal part of the number. So after scanning QR code, which correctly uses dot, the number shown uses comma. When I edited the amou

[2019-01-03 20:55] Giosystem commented on #55
Yeah same issue I cannot send any payment to every channel I have tried. Keeps saying payment failed -(Local) path not found. Anyone able to help me here. I even have two lightning nodes set up at home.One in my garage, and one in my office they both have channels opened up to each other from both sides. I can’t send a payment to either of them from both sides as well. Same error eclair payment fa

[2019-01-04 15:25] prusnak commented on #9
Relevant documentation:
* https://developer.android.com/about/versions/marshmallow/android-6.0#fingerprint-authentication
* https://developer.android.com/reference/android/hardware/fingerprint/package-summary
* https://proandroiddev.com/5-steps-to-implement-biometric-authentication-in-android-dbeb825aeee8
* https://willowtreeapps.com/ideas/android-fingerprint-apis-an-overview-for-android-app-devel

[2019-01-04 18:04] prusnak opened #138 "[Feature] Erase/trash and Backspace buttons in PIN dialog should have haptic feedback"
Related to https://github.com/ACINQ/eclair-mobile/issues/70

Number buttons now have haptic feedback, but not the Erase/trash and Backspace buttons

[2019-01-04 21:11] ndeet commented on #137
Hi @dpad85

can confirm this happening on my localised (in my case German) Android. The on-chain payment amount has a `,` decimal separator instead of `.` which makes payment amount invalid. On LN this works correctly, only the on-chain payment amount is wrong.

The QR code has the following data encoded (amount correct with `.` as separator:
`bitcoin:mhznGV4xQvU48fNjBwSzbsb1z4WdZPGbFD?amount=0.00

[2019-01-05 14:34] dpad85 commented on #9
Thanks for the documentation! This is indeed a needed feature, entering the pin every time is growing tedious. If all goes well this is one of the next addition to the wallet 😄

[2019-01-07 11:31] cryptodadach opened #139 "Wallet not opening on MIUI 10, xiaomi pie 9"
After the update the wallet is not opening on my phone, and I need the funds soon. Can you check?  Can I revert to the previous version?

[2019-01-07 11:59] cryptodadach commented on #139
had to use the previous version of the .apk, and that one worked..

[2019-01-07 13:17] dpad85 commented on #139
What do you mean with "not opening on my phone"? Do you have any specific error message?

[2019-01-07 13:20] cryptodadach commented on #139
No, just says please wait, and when I recovered the seed, it says reading
seed, but it is stuck in both cases. As soon as I installed the prior
version, it worked again.

My phone is Xiaomi Mi Mix 2s, and all prior versions worked without a
problem.

Thank you for replying,
Davor

On Mon, Jan 7, 2019, 16:17 Dominique <notifications@github.com wrote:

[2019-01-07 13:24] bithobbes commented on #131
Though I tried several times could only see it once so far and it worked nicely. Thanks a lot!

[2019-01-08 07:14] cryptodadach commented on #139
It just sits like this forever.

On Mon, Jan 7, 2019, 16:20 Crypto Dadach <cryptodadach@gmail.com wrote:

[2019-01-08 19:54] Falsen commented on #139
This happend to me too when I tried to import my wallet to my new OnePlus 6T.

I checked logcat, and I didn't get much really but:

[2019-01-09 07:41] dtrnk opened #140 "[BUG]Payment in excess of the requested amount"
Payment in excess of the requested amount.

Current version 0.3.15

Android version 7.1.2

[2019-01-13 05:03] githorray commented on #137
I just hit it too. bitcoin:{address removed}?amount=0.017913

![screenshot_20190113-125141_2](https://user-images.githubusercontent.com/39980780/51165019-cf83c500-18d9-11e9-9793-d3acdca75f0c.png)

[2019-01-13 06:49] molxyz commented on #137
Trying with this site https://example.coingate.com/ also got the same error. Version 0.3.15.

[2019-01-15 07:15] githorray commented on #53
The "**Use all available funds**" option adds one sat too many, resulting in the error "**Channel capacity must be between 100,000 and 16,777,216 sat**"

![screenshot_20190114-152953_2](https://user-images.githubusercontent.com/39980780/51164478-ffca6400-18d7-11e9-8c4e-4084de9598d7.png)

[2019-01-15 16:42] dpad85 commented on #140
Hello,

Could you give more details about this issue? Have you manually changed the amount in the pay window?

For privacy reasons, the Lightning protocol allows payers to override the requested amount, and indeed exceed the requested amount. Note that per protocol specs, you cannot pay more than twice the expected amount, see https://github.com/lightningnetwork/lightning-rfc/blob/master/04-onion-

[2019-01-15 18:00] #137 closed, assigned to nobody

[2019-01-15 18:01] dpad85 commented on #137
Reproduced and fixed in the next release. Thanks!

[2019-01-17 22:16] Stadicus opened #141 "Cannot connect to specific ElectrumX server"
The possibility to connect to my own Electrum backend is a great addition and could make Electrum my go-to wallet, also for on-chain funds.

I am struggling to connect to my own server, however, an full ElectrumX node that runs with SSL with a self-signed certificate. No problem connecting with Electrum desktop or mobile wallet, or the Bitbox hardware wallet.

First, Eclair crashed and I had to co

[2019-01-17 22:30] pm47 commented on #141
A self-signed certificate is *not* ok, and yes LetsEncrypt would work. The rationale is that if you choose to connect to a specific server, you probably want to be sure that you cannot be easily MITMed. Otherwise why not connect to a public server instead?

Please provide more details, this warrants an investigation, as there is no known issue with backup/restore. How did you lose your seed and ba

[2019-01-18 12:38] Stadicus commented on #141
Thanks for the clarification regarding the certificate, I'll set up a real certificate.

Regarding my crash, I am not sure how to provide additional details. The events were like this:
* Running Eclair Mobile with a few bucks in open channels, no on-chain funds, chain backup to Google Drive enabled
* Configuration of custom Electrum server (I think I did **not specify the port**, just `electrum.st

[2019-01-18 12:52] pm47 commented on #141
The cause of the crash is most certainly the fact that you didn't specify a port. This bug was fixed with 445ff97aceec148423b4455d2da11b9a47d3d20b and released in 0.3.15.

Did your on-chain transactions appear in the history? Is it the time you attempted the restore?

[2019-01-18 15:35] Stadicus commented on #141
Yes, this seems to be the point where I tried to connect to my own Electrum server. The 6/01/2019 seems to fit your [tweet](https://twitter.com/acinq_co/status/1081198576745803777) regarding the Electrum server feature on the 4th. :-)

Past on-chain transactions show up as expected.

[2019-01-18 15:36] Stadicus commented on #141
Where is the backup actually stored? I cannot find it on my google drive.

[2019-01-18 16:14] dpad85 commented on #141
Hi, I've got a few questions:

* When you restored your seed, did you get a window prompting you to restore the backup from google drive? This window tells something like:
[code]
* If you did get this window, can you describe what you did and what happened?
If I guess right, you tried to restore your backup, the app asked for permissions to access your Google drive account, and for **some reasons*

[2019-01-18 20:23] dpad85 commented on #141
@Stadicus Please reach me out on gitter or by email when you want the APK with the restore option.

[2019-01-19 23:51] Stadicus commented on #141
@dpad85, no, I did not get this window prompting me to restore the backup (I'm pretty sure, 90%?). Unfortunately, I already opened new channels, so the backup is probably gone. No big deal, just a few bucks.

[2019-01-25 02:35] alexk111 commented on #48
Have you seen @bluewallet's LndHub? http://lndhub.io/about It looks like a solution for this.

[2019-01-25 02:53] alexk111 commented on #133
@jeremyawon Also check this https://blog.samouraiwallet.com/post/169222582782/bitpay-qr-codes-are-no-longer-valid-important.

Please ask the merchants to switch to another payment processor: https://github.com/alexk111/awesome-bitcoin-payment-processors.

If you have to pay Bitpay invoices use https://github.com/alexk111/DeBitpay/.

[2019-01-26 19:28] andronoob opened #142 "Cap lightning fees with maximum value, not merely percentage"
Might be dupelicate with #36.

A lot of LN nodes has a base routing fee, e.g. 1sat/payment. Therefore, if the user trys to pay an extreme small amount, currently the payment usually fail, due to the 3% limit. If the user simply turn off this limit, it seems that he's taking some risk of being accidentally charged with extreme high fees.

I think the fee capping policy should be more sophiscated, e

[2019-01-30 06:45] danielemiliogarcia opened #143 "feature request: run in background"
ive noticed I'm going offline everytime y close the wallet in Android. would be nice to have a setting to run in background. (like rawtx) amazing project!

[2019-01-30 22:49] Stadicus commented on #141
Closing this issue, unless you have additional questions.

[2019-01-30 22:49] #141 closed, assigned to nobody

[2019-02-06 08:52] pshep opened #144 "Allow a failed transaction to be re-attempted"
When a transaction fails due to no route (and maybe other reasons), allow the transaction to be reattempted via the GUI.
I found that after allowing the network scan to complete, I had to re-scan the same QR code to re-send the same transaction.
Maybe have a few options for failed transactions? Retry/cancel etc.

[2019-02-07 07:51] kasadawa opened #145 "Why my bitcoin wallet is changed"
Yesterday I send BTC to my eclair bitcoin wallet, but today I am seeing that today the wallet address is changed , and the funds are not in the app. On the bottom it says "Syncing from btc.smsys.me:995..." .
Can you explain to me where my funds have gone ?

P.S. The funds were received :) , but why the BTC  address has changed  ?

[2019-02-07 10:24] dpad85 commented on #145
Hello,

`Syncing from btc.smsys.me:995...` This message means that the wallet is still catching up with the bitcoin blockchain, it can take some time.

For the address change: Eclair mobile is a deterministic wallet and by design generates a new address every time you receive a transaction. This is intended. Using the same address again and again would be bad for your privacy.

You can read more a

[2019-02-07 10:24] #145 closed, assigned to nobody

[2019-02-08 23:48] molxyz commented on #48
@alexk111

It's a custodial wallet. Your coins are owned by someone else, they can wait until many people put in lots of coins in there, and they disappear, it's called "exit scam".  Eclair mobile wallet is not custodial, much better for you because you are in control of your coins, and Eclair is a no brainer wallet, very easy to use and manage.

[2019-02-09 00:22] alexk111 commented on #48
@molxyz Their open-source LndHub is a solution for that issue. You can host your own LndHub on a server and connect your wallet to it. In that case your lightning node runs on a machine under your control and your mobile wallet doesn't have to be always online.

[2019-02-09 04:27] molxyz commented on #48
@alexk111
Thanks but no thanks :-)  It's better you get the code from its origin, not from a second or third party. I have been running LND on my server since day one when LND alpha was just released, so it's been over two years now, you can do this too, get it from source and here's the guide:  https://github.com/lightningnetwork/lnd/blob/master/docs/INSTALL.md

[2019-02-09 05:06] alexk111 commented on #48
@molxyz And Eclair wallet on your mobile phone connects to LND on your server?

[2019-02-09 18:49] molxyz commented on #48
@alexk111  Yes, you can use Eclair mobile to connect and open channels to your LND node or c-lightning node.  But we're getting offtopic here. This is Eclair repo, you should not use it to advertise something else out of respect and courtesy for Eclair developers.

EDIT: And btw, if you were talking about the "payment request" feature for Eclair mobile, it is coming:  https://twitter.com/acinq_co/

[2019-02-10 01:09] alexk111 commented on #48
@molxyz Yeah, I meant using Eclair mobile as a "thin client" for lnd node, to be able to request payments from a mobile phone. Thanks for the link to their tweet! Can't wait to try it :)

[2019-02-10 13:43] m8tion opened #146 "[FEATURE] open channel with .onion URI"
I have setup a bitcoin + lnd node at home on a raspberry pi 2B+ following the excellent Stadicus' guide: https://github.com/Stadicus/guides/blob/master/raspibolt/README.md. These nodes are fully torified (they accept only tor connections) and reachable on both networks. I can open and close channels, send and receive payments, my bitcoin node is reachable from bitnodes.earn.com and my LN node is l

[2019-02-11 10:04] pm47 commented on #146
Tor support has just been merged on eclair-core a few days ago: https://github.com/ACINQ/eclair/commit/808bf14d20e71d9230111b64e1e2f4e7c784bc55.

We will be see how easy it is to make it work on android but I don't see why it would be a problem.

[2019-02-11 12:40] m8tion commented on #146
Great news thanks. Can't wait for the update.

[2019-02-12 00:46] manreo opened #147 "faq state about 24 words but wallet only give 12 words"
This is from the faq

But actually you only get 12 words

[2019-02-12 09:24] bidelakbari commented on #144
I have the same problem here. for some payments which I have no direct channel with the receiver, my LN node retries and eventually pays after about 20 retry. I know adding "Number of retry" option would be a bad UX choice but I believe it is necessary, now that the capacity of some nodes are low

[2019-02-19 12:35] dpad85 commented on #147
Good catch, thanks, it's fixed!

[2019-02-19 12:35] #147 closed, assigned to nobody

[2019-02-19 13:02] #48 closed, assigned to nobody

[2019-02-19 14:13] nilskp commented on #48
It's not clear to me how this commit fixes this issue.

 https://github.com/ACINQ/eclair-mobile/commit/80258c38d03c75cc1e96ffc56d8a373eafc66832

[2019-02-19 14:26] dpad85 commented on #48
Hi @nilskp

The https://github.com/ACINQ/eclair-mobile/commit/80258c38d03c75cc1e96ffc56d8a373eafc66832 commit is the `v0.4.0` release commit. This version contains the code enabling the creation of lightning payment requests with the app, and the reception of payments over Lightning. The code itself is scattered over [several commits](https://github.com/ACINQ/eclair-mobile/compare/v0.3.19-TESTNET.